<div class="header-container">
    <div class="header-left__panel">
        <div class="header-icon">
            <i class="icon ic_user"></i>
        </div>
        <div class="header-user-name">
            <span>Rachit Gaikwad</span>
        </div>
    </div>
    <div class="header-middle__panel">
        <div class="header-project-name">
            <span>Cognitive Assessment</span>
        </div>
    </div>
    <div class="header-right__panel">
        <div class="header-instructions" title="Instructions">
            <i class="icon ic_instructions" (click)="navigateToInstructions()"></i>
        </div>
        <div class="header-home" *ngIf="homeButton" title="Home">
            <i class="icon ic_home" (click)="navigateToHome()"></i>
        </div>
        <div class="header-logout" title="Logout">
            <i class="icon ic_logout" (click)="logout()"></i>
        </div>
        <div class="header-logo">
            <img src="./assets/images/bts_logo.png" />
        </div>
    </div>
</div>