.header-container {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px 40px;
}

.header-left__panel,
.header-right__panel {
    display: flex;
}

.header-home {
    width: 50px;
}

.header-logout {
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.header-logout i:before {
    font-size: 1.8rem;
    position: relative;
    top: 10px;
    color: #f33b70;
}

.header-instructions {
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.header-instructions i:before {
    font-size: 1.8rem;
    position: relative;
    top: 10px;
    color: #f33b70;
}

.header-home i:before {
    font-size: 2rem;
    position: relative;
    top: 8px;
    color: #f33b70;
    cursor: pointer;
}

.header-icon {
    width: 50px;
    height: 50px;
    background: #f33b70;
    color: #fff;
    border-radius: 50%;
}

.header-icon i:before {
    font-size: 1.5rem;
    position: relative;
    top: 9px;
    left: 13px;
}

.header-logo {
    position: relative;
    top: 10px;
}

.header-logo img {
    width: 80px;
    height: auto;
}

.header-user-name {
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    position: relative;
    top: 10px;
}

.header-project-name {
    margin: 0 15px;
    font-size: 20px;
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    position: relative;
    top: 8px;
    text-transform: uppercase;
}