<div class="abstract-reasoning__container" *ngIf="data">
    <app-header></app-header>
    <div class="abstract-reasoning">
        <single-select-image [data]="data"></single-select-image>
        <div class="navigation-buttons">
            <div class="navigation-button home" title="Home" (click)="redirectToHome()">
                <i class="icon ic_home"></i>
            </div>
        </div>
    </div>

</div>