<div class="landing-container">
    <app-header></app-header>
    <div class="landing">
        <div class="landing-panel">
            <div class="landing-panel__container">
                <div class="landing-panel__left">
                    <div class="landing-left__top">
                        <p>Click here to start the assessment</p>
                        <div class="landing-button__container">
                            <div class="landing-button" (click)="startAssessment()">
                                <span>START</span>
                                <i class="icon ic_action-arrow"></i>
                            </div>
                        </div>
                    </div>
                    <div class="landing-left__bottom">
                        <div class="landing-instructions">
                            <p>Instructions: </p>
                            <ul>
                                <li>On the following pages you will find different type of Cognitive Ability Tests</li>
                                <li>These tests are typically formulated in a multiple-choice format</li>
                                <li>It consist of verbal, numerical, abstract, logical tests, etc. Their complexity and 
                                    difficulty level can vary significantly between the different tests in this category
                                </li>
                                <li>This simulation will cover 8 of the major tests in this family</li>
                                <li>There are often a lot of questions to answer in a short time frame</li>
                                <li>At the end you will find detail results indicating your cognitive skills and a report for your personal assessment</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="landing-panel__right">
                    <img src="../../assets/images/instructionPage_icon.svg" />
                </div>
            </div>
        </div>
    </div>
</div>