.landing-container {
    min-height: 100vh;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.landing-panel {
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: 0;
    border: 1px solid #E4EBF8;
    background: #fff;
    padding: 45px 53px 60px;
    width: 1000px !important;
    box-shadow: 0px 0px 12px 5px rgba(234, 239, 249, 0.75);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    border-radius: 25px;
}

.landing-panel__container {
    display: flex;
}

.landing-panel__left {
    width: 60%;
}

.landing-panel__right {
    width: 40%;
}

.landing-panel__right img {
    width: 350px;
    height: auto;
    position: relative;
    top: 35px;
    left: 20px;
}

.landing-left__top {
    padding: 0 0 40px 0;
    border-bottom: 1px dotted #888888;
}

.landing-left__bottom {
    padding: 40px 0 0 0;
}

.landing-left__top p {
    font-size: 35px;
}

.landing-button__container {
    display: flex;
    justify-content: left;
}

.landing-button {
    width: 150px;
    background: #f33b70;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.landing-button i:before {
    position: relative;
    left: 7px;
    top: -1px;
}

.landing-instructions p {
    font-weight: 700;
}

.landing-instructions ul li {
    line-height: 1.6;
    margin: 15px 0;
    font-weight: 600;
    font-size: 14px;
}

.landing-instructions ul {
    padding: 0 0 0 20px;
}