<div class="result container">
  <div class="result-overlay">
    <div class="result-img"><img src="../../../assets/images/y3.jpg" /></div>
    <p>Your Score is <span class="result-number">{{memory.moves}}</span></p>
    <button (click)="memory.newGame()">Play Again</button>
  </div>
  <div class="result-bg"></div>
</div>
