<div class="login-container">

    <div class="login-panel" [class.register]="view === 'login'">
        <div class="login-header">
            <div class="login-logo__container">
                <img class="login-logo" src="./assets/images/bts_logo.png" />
            </div>
            <div class="login-project-name">
                <span>COGNITIVE ASSESSMENT</span>
            </div>
        </div>
        <div class="login-instructions" *ngIf="view === 'login'">
            <p>Please take some time and fill your details</p>
        </div>
        <div class="login-body" *ngIf="view === 'register'">
            <div class="login-username">
                <div class="login-username__iconCont">
                    <span class="login-username__icon icon ic_user-01"></span>
                </div>
                <input type="text" class="login-username__input" placeholder="USER NAME" />
            </div>
            <div class="login-password">
                <div class="login-password__iconCont">
                    <span class="login-password__icon icon ic_password"></span>
                </div>
                <input type="text" class="login-password__input" placeholder="PASSWORD" />
            </div>
            <!-- <div class="login-email">
                <div class="login-email__iconCont">
                    <span class="login-email__icon icon ic_email-outline"></span>
                </div>
                <input type="text" class="login-email__input" placeholder="EMAIL" />
            </div> -->
        </div>
        <div class="login-body" *ngIf="view === 'login'">
            <div class="form-group">
                <div class="ep-pic">
                    <img *ngIf="!profilePhotoName" src="../../assets/images/no-image.png">
                    <img *ngIf="profilePhotoName" [src]="profilePhotoName">
                </div>
                <div for="ep-customFile" id="ep-customLabel">
                    <input accept="image/*" class="ep-file-input" (change)="getFileName($event)" accept="image/*"
                        id="ep-customFile" type="file">
                    <label class="ep-file-label ep-btnUpload" for="ep-customFile">
                        <span>Upload Photo</span>
                        <i class="icon ic_instagram"></i>
                    </label>
                </div>
            </div>
            <div class="login-name">
                <p class="login-name__label">NAME</p>
                <input type="text" class="login-name__input" />
            </div>
            <div class="login-email">
                <p class="login-email__label">EMAIL</p>
                <input type="text" class="login-email__input" />
            </div>
            <div class="login-age">
                <p class="login-age__label">AGE</p>
                <input type="text" class="login-age__input" />
            </div>
            <div class="login-gender">
                <p class="login-email__label">GENDER</p>
                <div class="form-checkcell">
                    <input class="form-checkcell__radio" type="radio" value="MALE" name="gender" id="radio-male" />
                    <label for="radio-male" class="form-checkcell__label">MALE</label>
                </div>
                <div class="form-checkcell">
                    <input class="form-checkcell__radio" type="radio" value="FEMALE" name="gender" id="radio-female" />
                    <label for="radio-female" class="form-checkcell__label">FEMALE</label>
                </div>
                <div class="form-checkcell">
                    <input class="form-checkcell__radio" type="radio" value="OTHERS" name="gender" id="radio-others" />
                    <label for="radio-others" class="form-checkcell__label">OTHERS</label>
                </div>
            </div>
            <div class="dropdown">
                <p class="dropdown-label">COUNTRY</p>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="countrydropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedCountry ? selectedCountry : 'SELECT COUNTRY'}}
                </button>
                <div class="dropdown-menu" aria-labelledby="countrydropdownMenuButton">
                    <a *ngFor="let country of countries" class="dropdown-item" href='#'
                        (click)="selectCountry(country)">{{country.name}}</a>
                </div>
            </div>
            <div class="dropdown dropup">
                <p class="dropdown-label">INDUSTRY</p>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="imdustrydropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedIndustry ? selectedIndustry : 'SELECT INDUSTRY'}}
                </button>
                <div class="dropdown-menu" aria-labelledby="imdustrydropdownMenuButton">
                    <a *ngFor="let industry of industries" class="dropdown-item" href='#'
                        (click)="selectIndustry(industry)">{{industry.name}}</a>
                </div>
            </div>
            <div class="dropdown dropup">
                <p class="dropdown-label">PROFILE</p>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="countrydropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{selectedProfile ? selectedProfile : 'SELECT PROFILE'}}
                </button>
                <div class="dropdown-menu" aria-labelledby="countrydropdownMenuButton">
                    <a *ngFor="let profile of profiles" class="dropdown-item" href='#'
                        (click)="selectProfile(profile)">{{profile.name}}</a>
                </div>
            </div>
        </div>
        <div class="login-button__container">
            <div *ngIf="view === 'register'" class="login-button" (click)="register()">
                <span>LOGIN</span>
            </div>
            <div *ngIf="view === 'login'" class="login-button login" (click)="login()">
                <span>SAVE AND CONTINUE</span>
                <i class="icon ic_send"></i>
            </div>
        </div>
    </div>
</div>