.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-panel {
    display: flex;
    justify-content: center;
    margin-top: 0;
    border: 1px solid #E4EBF8;
    background: #f2f2f2;
    padding: 0px 53px 40px;
    width: 500px !important;
    box-shadow: 0px 0px 12px 5px rgba(234, 239, 249, 0.75);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    border-radius: 4px;
}

.login-panel.register {
    width: 800px !important;
}

.login-username__iconCont,
.login-password__iconCont {
    width: 40px;
    background: #fff;
}

.login-username__iconCont span:before {
    font-size: 1.3rem;
    position: relative;
    top: 11px;
    left: 10px;
    color: #888;
}

.login-password__iconCont span:before {
    font-size: 1.3rem;
    position: relative;
    top: 10px;
    left: 10px;
    color: #888;
}

.login-username__input,
.login-password__input {
    width: calc(100% - 40px);
    padding: 15px;
    border: 1px solid #fff;
    color: #888;
}

.login-username__input::placeholder,
.login-password__input::placeholder {
    color: #888;
}

.login-username,
.login-password {
    display: flex;
    margin: 0 0 20px 0;
}

.login-button__container,
.login-logo__container {
    display: flex;
    justify-content: center;
    clear: both;
}

.login-button {
    width: 130px;
    background: #f33b70;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    margin: 30px 0 0 0;
    cursor: pointer;
}

.login-button.login {
    width: 240px;
}

.login-button.login i:before{
    position: relative;
    top: -1px;
    left: 10px;
}

.login-instructions p {
    font-size: 18px;
    font-weight: 600;
    color: #f33b70;
}

.login-logo {
    width: 80px;
    height: auto;
}

.login-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.login-project-name {
    position: relative;
    top: 3px;
    color: #f33b70;
}

.login-project-name span{
    font-size: 18px;
    font-weight: bold;
}

.login-body {
    padding: 20px 0 0 0;
}

.login-name,
.login-email,
.login-age {
    padding: 0 0 10px 0;
}

.login-name__label,
.login-email__label,
.login-age__label,
.dropdown-label {
    margin: 0 0 0 5px;
    color: #888;
    font-weight: 600;
}

.dropdown-label {
    margin: 0 0 5px 5px;
}

.login-name__input,
.login-email__input,
.login-age__input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0 0 0;
    color: #888;
}

.login-gender {
    padding: 20px 0;
}

.dropdown {
    clear: both;
    padding: 0 0 10px 0px;
}

.dropdown:first-of-type {
    padding: 20px 0;
}

.ep-pic {
    width: 70px;
    height: 70px;
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    margin-right: 15px;
}

.ep-pic img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.ep-file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#ep-customLabel {
    position: relative;
    top: 12px;
}

.ep-file-label {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.ep-file-label span {
    color: #888;
}

.ep-file-label i:before {
    font-size: 1rem;
    position: relative;
    left: 5px;
    top: -1px;
    color: #888;
}

.form-group {
    display: flex;
}

