<!--
README!

GAME INSRUCTIONS:

p    - pause
ESC  - abandon game

Click the big P to choose one of three levels:
- Casual
- Medium
- Hard

The game will save your stats locally, via localStorage.
Click the F to see your stats.

Click I for these intructions.

Flip is a timed card memory game. When starting a level, there's a red bar on top of the screen that shows how much time you have left.
Click the green cards to see what symbol they uncover and try to find the matching symbol underneath the other cards.
Uncover two matching symbols in a row to eliminate them from the game.
Eliminate all cards as fast as you can to win the game. Have fun FLIPing!
-->
<app-header></app-header>
<div class="memory2-container">
    <div class="memory2-cont">
        <div id="g"></div>

        <div class="logo2">
            <p class="info">Click the P to get started.</p>
            <div class="card left">
                <div class="flipper">
                    <div class="f c1">F</div>
                    <div class="b contentbox" id="stats">
                        <div class="padded">
                            <h2>Figures</h2>
                            Looks like you haven't FLIPped yet.
                            <a href="javascript:;" class="playnow">Play now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card active twist">
                <div class="flipper">
                    <div class="b f">
                        <div class="c2">L</div>
                    </div>
                </div>
            </div>
            <div class="card left">
                <div class="flipper">
                    <div class="f c3">I</div>
                    <div class="b contentbox instructions">
                        <div class="padded">
                            <h2>Instructions</h2>
                            <p>Press [p] to pause, or [ESC] to abandon game.</p>
                            <p>Flip is a timed card memory game. Click the green cards to see what symbol they uncover
                                and
                                try to find the matching symbol underneath the other cards.</p>
                            <p>Uncover two matching symbols at once to eliminate them from the game.</p>
                            <p>Eliminate all cards as fast as you can to win the game. Have fun FLIPing!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="flipper">
                    <div class="f c4">P</div>
                    <div class="b contentbox levels">
                        <a href="javascript:;" data-level="8" class="play">Casual</a>
                        <a href="javascript:;" data-level="18" class="play">Medium</a>
                        <a href="javascript:;" data-level="32" class="play">Hard</a>
                    </div>
                </div>
            </div>

            <p class="info">Flip should work best in Google Chrome, decent in Firefox, IE10 and Opera;</p>
        </div>
        <div class="memory2-home__cont">
            <div class="memory2-home" title="Home">
                <i class="icon ic_home" (click)="navigateToHome()"></i>
            </div>
        </div>
    </div>

</div>