.memory2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.memory2-cont {
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 0;
    border: 1px solid #E4EBF8;
    background: #fff;
    padding: 45px 58px 120px;
    width: 800px !important;
    box-shadow: 0px 0px 12px 5px rgba(234, 239, 249, 0.75);
    -webkit-transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    border-radius: 25px;
}

.memory2-home__cont {
    display: flex;
    justify-content: center;
    position: absolute;
}

.memory2-home {
    width: 50px;
    height: 50px;
    background: #3b4a61;
    color: #fff;
    border-radius: 50%;
    margin: 0 0 0 5px;
    cursor: pointer;
    position: relative;
    top: 135px;
    left: 680px;
}

.memory2-home i:before {
    font-size: 1.5rem;
    position: relative;
    top: 12px;
    left: 13px;
}