<section *ngIf="data?.question?.basicTimerSettings" class="ssi-timer">
    <app-timer #myTimer [data]="data?.question?.basicTimerSettings"></app-timer>
</section>
<section class="ssi {{data?.class}}">
    <div class="ssi-container">
        <div class="ssi-content">
            <article class="ssi-article">
                <div class="ssi-question">
                    <div class="ssi-question__header">
                        <p class="ssi-question__title">{{data?.question?.title}}</p>
                        <p class="ssi-pointer">{{data?.pointer}}</p>
                    </div>
                    <img class="ssi-question__image" src="{{data?.question?.questionImage}} " />
                </div>
                <div class="ssi-options">
                    <div class="ssi-option" *ngFor="let option of data?.question?.options" [class.ssi-option--selected]="option.selected">
                        <p *ngIf="option.title" class="ssi-option__title">{{option.title}}</p>
                        <div class="ssi-option__container" *ngIf="option.optionText">
                            <div class="ssi-option__cont" (click)="selectOption(option)">
                                <p>{{option.optionText}}</p>
                            </div>
                        </div>
                        <img  *ngIf="!option.optionText" class="ssi-option__image" [src]="option.optionImage" (click)="selectOption(option)" />
                    </div>
                </div>
            </article>

            <footer class="ssi-footer">
                <div class="ssi-button__container">
                    <div class="ssi-button" (click)="saveVotes()">
                        <span>SUBMIT</span>
                        <i class="icon ic_action-arrow"></i>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</section>