.ssi-container {
    min-width: 75.5rem;
    background: #fff;
    border-radius: 20px;
    margin: 10px 0 0 0;
}

.ssi-question__title {
    font-size: 27px;
    text-align: center;
    padding: 40px 0 20px 40px;
    width: 90%;
}

.ssi-question__image {
    height: 220px;
    width: 100%;
}

.na-ssi .ssi-question__image {
    height: 325px;
    width: 100%;
}

.ssi-options {
    display: flex;
    padding: 50px 100px 20px 100px;
}

.na-ssi .ssi-options {
    padding: 0 100px 20px 100px;
}

.ssi-option {
    flex: 1;
    padding: 0 10px;
}

.ssi-option__title {
    font-size: 35px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
}

.ssi-option--selected .ssi-option__title {
    color: #f33b70;
}

.ssi-option--selected .ssi-option__cont {
    border: 3px solid #f33b70
}

.ssi-option--selected .ssi-option__cont p {
    color: #f33b70
}

.ssi-buttons {
    display: flex;
    justify-content: center;
}

.ssi-option__image {
    cursor: pointer;
    width: 100%;
    height: 130px;
}

.na-ssi .ssi-option__image {
    height: 75px;
}

.ssi-savedmessage:before {
    content: "";
    width: 20px;
    height: 16px;
    margin: 0 5px 0 0;
    background-image: url("../../assets/images/checkWhite.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}

.ssi-button--disabled {
    pointer-events: none;
    background: #808080;
    cursor: default;
}

.ssi-button__icon--hide {
    display: none;
}

.ssi-button__icon:before {
    font-size: 1.3rem;
}

.ssi {
    display: flex;
    justify-content: center
}

.ssi-footer {
    margin: 20px 0 30px 0;
}

.ssi-button__container {
    display: flex;
    justify-content: center;
}

.ssi-button {
    width: 150px;
    background: #f33b70;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    margin: 10px 0;
    cursor: pointer;
}

.ssi-button i:before {
    position: relative;
    left: 7px;
    top: -1px;
}

.ssi-option__container {
    display: flex;
    justify-content: center;
}

.ssi-option__cont {
    border: 3px solid #888;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: table;
}

.ssi-option__cont p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #888;
}

.ssi-question__header {
    display: flex;
    justify-content: center;
}

.ssi-pointer {
    padding: 40px 0 20px 0;
    font-size: 27px;
    float: right;
}