<div class="about container">
  <logo></logo>
  <div class="about-body animated fadeIn">
    <p>A simple yet fun card game in which all of the cards are laid face down on a surface and two cards are flipped
      face up over each turn. The object of the game is to turn over pairs of matching cards.</p>
  </div>
</div>


