.navigation-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.navigation-button {
    min-width: 20.875rem;
    font-size: 1.5rem;
    background-color: #00b8fe;
    padding: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

about {
    background-image: url(../../../assets/images/background.png);
    height: 100vh;
}

.home-next__cont {
    display: flex;
    justify-content: center;
}

.home-next,
.home-home {
    width: 50px;
    height: 50px;
    background: #f33b70;
    color: #fff;
    border-radius: 50%;
    margin: 0 0 0 5px;
    cursor: pointer;
    position: relative;
    top: -35px;
    left: 340px
}

.home-home {
    background: #3b4a61;
}

.home-next i:before,
.home-home i:before {
    font-size: 1.5rem;
    position: relative;
    top: 12px;
    left: 15px;
}

.home-home i:before {
    left: 13px;
}