<div class="home-header">
    <app-header></app-header>
</div>
<div class="home-timer">
    <app-timer [data]="timerSettings"></app-timer>
</div>
<div class="home-game">
    <memory-board *ngIf="view === 'new'"></memory-board>
    <div class="home-next__cont">
        <div class="home-home" title="Home">
            <i class="icon ic_home" (click)="navigateToHome()"></i>
        </div>
        <div class="home-next" (click)="navigateToNextPage()" title="Next">
            <i class="icon ic_expand-arrow"></i>
        </div>
    </div>
    <state *ngIf="view === 'new'"></state>
</div>