<div class="assessment-landing__container">
    <app-header></app-header>
    <div class="assessment-landing">
        <img class="assessment-bg" src="../../assets/images/Menu_center.svg" />
        <div class="assessment-memory assessment-category" (click)="startMemoryAssessment()">
            <div class="assessment-memory-img"></div>
            <p>0 / 2</p>
        </div>
        <div class="assessment-problem-solving assessment-category">
            <div class="assessment-problem-solving-img"></div>
            <p>0 / 10</p>
        </div>
        <div class="assessment-numerical-ability assessment-category" (click)="startNumericalAbilityAssessment()">
            <div class="assessment-numerical-ability-img"></div>
            <p>{{naCompleted}} / {{totalNA}}</p>
        </div>
        <div class="assessment-critical-reasoning assessment-category">
            <div class="assessment-critical-reasoning-img"></div>
            <p>0 / 10</p>
        </div>
        <div class="assessment-abstract-reasoning assessment-category" (click)="startAbstractReasoningAssessment()">
            <div class="assessment-abstract-reasoning-img"></div>
            <p>{{arCompleted}} / {{totalAR}}</p>
        </div>
        <div class="assessment-decision-making assessment-category">
            <div class="assessment-decision-making-img"></div>
            <p>0 / 10</p>
        </div>
        <!-- <div class="assessment-panel">
            <p (click)="startMemoryAssessment()">Memory</p>
            <p (click)="startAbstractReasoningAssessment()">Abstract Reasoning</p>
            <p>Numerical Reasoning</p>
            <p>Decision Making</p>
            <p>Problem Solving</p>
            <p>Verbal Reasoning</p>
        </div> -->
    </div>
    <div class="assessment-results__dashboard">
        <div class="results-dashboard__button" (click)="navigateToResults()">
            <i class="icon ic_leaderboard"></i>
            <span>Results Dashboard</span>
        </div>
    </div>
</div>