.assessment-landing__container {
    min-height: 100vh;
}

.assessment-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.assessment-panel {
    background: #fff;
    display: flex;
    justify-content: center;
    margin-top: 0;
    border: 1px solid #E4EBF8;
    background: #fff;
    padding: 45px 53px 60px;
    width: 1000px !important;
    box-shadow: 0px 0px 12px 5px rgba(234, 239, 249, 0.75);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    border-radius: 25px;
}

.assessment-bg {
    width: 700px;
    height: auto;
}

.assessment-category {
    position: absolute;
    cursor: pointer;
}

.assessment-memory {
    top: 120px;
    left: 470px;
}

.assessment-memory-img {
	background-image: url("../../assets/images/Menu_icon1_normal.svg");
	background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.assessment-memory:hover .assessment-memory-img {
	background-image: url("../../assets/images/Menu_icon1_selected.svg");
}

.assessment-memory:hover p {
	color: #fff;
}

.assessment-problem-solving {
    top: 120px;
    left: 1215px;
}

.assessment-category p {
    position: absolute;
    top: 130px;
    left: 80px;
    font-weight: bold;
}

.assessment-problem-solving p {
    top: 140px;
    left: 78px;
}

.assessment-problem-solving-img {
	background-image: url("../../assets/images/Menu_icon4_normal.svg");
	background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.assessment-problem-solving:hover .assessment-problem-solving-img {
	background-image: url("../../assets/images/Menu_icon4_selected.svg");
}

.assessment-problem-solving:hover p {
	color: #fff;
}

.assessment-numerical-ability {
    left: 420px;
    top: 370px;
}

.assessment-numerical-ability p {
    top: 140px;
    left: 77px;
}

.assessment-numerical-ability-img {
	background-image: url("../../assets/images/Menu_icon2_normal.svg");
	background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.assessment-numerical-ability:hover .assessment-numerical-ability-img {
	background-image: url("../../assets/images/Menu_icon2_selected.svg");
}

.assessment-numerical-ability:hover p {
	color: #fff;
}

.assessment-critical-reasoning {
    left: 1300px;
}

.assessment-critical-reasoning p {
    top: 140px;
    left: 77px;
}

.assessment-critical-reasoning-img {
	background-image: url("../../assets/images/Menu_icon5_normal.svg");
	background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.assessment-critical-reasoning:hover .assessment-critical-reasoning-img {
	background-image: url("../../assets/images/Menu_icon5_selected.svg");
}

.assessment-critical-reasoning:hover p {
	color: #fff;
}

.assessment-abstract-reasoning {
    top: 615px;
    left: 510px;
}

.assessment-abstract-reasoning p {
    top: 140px;
    left: 77px;
}

.assessment-abstract-reasoning-img {
	background-image: url("../../assets/images/Menu_icon3_normal.svg");
	background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.assessment-abstract-reasoning:hover .assessment-abstract-reasoning-img {
	background-image: url("../../assets/images/Menu_icon3_selected.svg");
}

.assessment-abstract-reasoning:hover p {
	color: #fff;
}

.assessment-decision-making {
    top: 630px;
    left: 1230px;
}

.assessment-decision-making p {
    top: 140px;
    left: 77px;
}

.assessment-decision-making-img {
	background-image: url("../../assets/images/Menu_icon6_normal.svg");
	background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.assessment-decision-making:hover .assessment-decision-making-img {
	background-image: url("../../assets/images/Menu_icon6_selected.svg");
}

.assessment-decision-making:hover p {
	color: #fff;
}

.assessment-results__dashboard {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
}

.results-dashboard__button {
    padding: 15px 30px;
    background: #1e4154;
    color: #fff;
    border-radius: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.results-dashboard__button .icon:before {
    font-size: 2rem;
    padding: 0px 10px 2px 0;
}

.results-dashboard__button span {
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 2px;
}