.timer {
    position: relative;
    top: -5px;
  }
  .timer-timerText {
    color: #6d747e;
    font-size: 0.875em;
    font-weight: normal;
  }
  .timer-timerText__value {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 0;
  }