<div class="timer" *ngIf="data && timerStarted">
    <h3 *ngIf="data.header && data.header.title" [innerHTML]="data.header.title"></h3>
    <span class="timer-timerText timer-timerText__value" *ngIf="timerValue" [innerHTML]="timerValue"></span>
    <span class="timer-timerText timer-timerText__timeUp" *ngIf="timeUp && timeUpText" [innerHTML]="timeUpText"></span>
</div>