<div class="memory-board__container">
  <div class="memory-board__cont">
    <div class="board">
      <memory-card *ngFor="let card of memory.cards" [card]="card"></memory-card>
    </div>
  </div>
</div>

<result *ngIf="memory.isOver" class="animated rubberBand"></result>