<div class="dashboard-container">
    <div class="dashboard-header">
        <p>Your Cognitive Assessment Test Results</p>
        <p>compared to the results of the other people of your profile</p>
    </div>
    <div class="dashboard-top">
        <div class="outer">
            <div id="gauge" class="chart-container" #chartelem></div>
            <div class="chart-info">You scored higher than <b>30%</b> of people</div>
        </div>
        <div class="outer">
            <div id="gauge" class="chart-container" #chartelem1></div>
            <div class="chart-info">You scored higher than <b>50%</b> of people</div>
        </div>
        <div class="outer">
            <div id="gauge" class="chart-container" #chartelem2></div>
            <div class="chart-info">You scored higher than <b>80%</b> of people</div>
        </div>
    </div>
    <div class="dashboard-bottom">
        <div class="outer">
            <div id="gauge" class="chart-container" #chartelem3></div>
            <div class="chart-info">You scored higher than <b>0%</b> of people</div>
        </div>
        <div class="outer">
            <div id="gauge" class="chart-container" #chartelem4></div>
            <div class="chart-info">You scored higher than <b>0%</b> of people</div>
        </div>
        <div class="outer">
            <div id="gauge" class="chart-container" #chartelem5></div>
            <div class="chart-info">You scored higher than <b>0%</b> of people</div>
        </div>
    </div>
    <div class="dashboard-footer">
        <p>Click on the Next button below to show you the recommendations for improvement of scores</p>
        <div class="dashboard-button__container">
            <div class="dashboard-button" (click)="navigateToRecommendations()">
                <span>NEXT</span>
                <i class="icon ic_action-arrow"></i>
            </div>
        </div>
    </div>
</div>