.dashboard-container {
	max-width: 72.5rem;
	padding: 25px 0;
	margin: 0 auto;
}

.outer {
	background: #fff;
    width: 300px;
    border-radius: 25px;
	height: auto;
	padding: 20px 0 0 0;
	margin: 0 40px;
}

.outer .chart-container{
	width: 300px;
	height: 150px;
}

.chart-info {
	padding: 20px 50px;
	text-align: center;
	border-top: 1px solid #f1f1f1;
}

.dashboard-top, .dashboard-bottom {
	display: flex;
	margin: 50px 0 0 0;
}

.dashboard-bottom {
	margin: 20px 0 0 0;
}

.dashboard-header, .dashboard-footer {
	margin: 0 40px;
    text-align: center;
}

.dashboard-footer {
	margin: 60px 40px;
}

.dashboard-header p:first-child {
	font-size: 35px;
    font-weight: 600;
    margin: 0;
}

.dashboard-header p:last-child {
	font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.dashboard-footer p {
	font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.dashboard-button__container {
    display: flex;
	justify-content: center;
	margin: 20px 0;
}

.dashboard-button {
    width: 150px;
    background: #f33b70;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    margin: 10px 0;
    cursor: pointer;
}

.dashboard-button i:before {
    position: relative;
    left: 7px;
    top: -1px;
}
        