<div class="numerical-ability__container" *ngIf="data">
    <app-header></app-header>
    <div class="numerical-ability">
        <single-select-image [data]="data"></single-select-image>
        <div class="navigation-buttons">
            <div title="Home" class="navigation-button home" (click)="redirectToHome()">
                <i class="icon ic_home"></i>
            </div>
        </div>
    </div>

</div>