.numerical-ability__container {
    min-height: 100vh;
}

.navigation-buttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px auto;
    max-width: 75.5rem;
}

.navigation-button.home,
.navigation-button.next {
    width: 50px;
    height: 50px;
    background: #3b4a61;
    color: #fff;
    border-radius: 50%;
    margin: 0 0 0 5px;
    cursor: pointer;
}

.navigation-button.next {
    background: #f33b70;
}

.navigation-button.home i:before,
.navigation-button.next i:before {
    font-size: 1.5rem;
    position: relative;
    top: 10px;
    left: 13px;
}

.navigation-button.next i:before {
    top: 11px;
    left: 15px;
}