<app-header></app-header>
<div class="recommendations-container">
    <div class="recommendations">
        <div class="recommendations-header">
            <p>At Work</p>
            <p>Your Colleagues may perceive you as someone who is naturally:</p>
        </div>
        <div class="recommendations-middle">
            <div class="recommendations-middle__1">
                <p>Responsive</p>
                <p>Unhurried and deliberate, stable and will do things using the established process; nds it dicult to
                    change these systems. Dependable, consistent and needs familiar environments and coworkers to
                    be most productive.
                    <br />
                    <br />
                    Cooperative, easy-going, and agreeable in getting along with others. A focused, uncritical listener
                    who won’t “rock the boat.”
                </p>
            </div>
            <div class="recommendations-middle__2">
                <p>Cautious with risk</p>
                <p>Drive to protect the company against risk by doing things in general accordance with established
                    standards.
                    <br />
                    <br />
                    Careful; usually follows a plan to avoid making mistakes. Generally has proof to support decisions
                    before taking action.
                </p>
            </div>
        </div>
        <div class="recommendations-footer">
            <p class="recommendations-footer__1">Your Journey Forward</p>
            <p class="recommendations-footer__2">To continue becoming more self-aware and drive your workplace behavior forward:</p>
            <div class="recommendations-footer__panel">
                <div class="recommendations-footer__group">
                    <div class="recommendations-footer__mag"></div>
                    <div class="recommendations-group__block">
                        <p>Request more insights and behavioral tools</p>
                        <div class="recommendations-group__button">
                            <span>Send a request now</span>
                        </div>
                    </div>
                </div>
                <div class="recommendations-footer__group">
                    <div class="recommendations-footer__bulb"></div>
                    <div class="recommendations-group__block recommendations-group__block--bulb">
                        <p>Learn how to leverage these</p>
                        <div class="recommendations-group__button">
                            <span>Show me how</span>
                        </div>
                    </div>
                </div>
                <div class="recommendations-footer__group recommendations-group__graph">
                    <div class="recommendations-footer__graph"></div>
                    <div class="recommendations-group__block recommendations-group__graphBlock">
                        <p>Assessment Date: 18th Oct 2019</p>
                        <p>Behavioral ID: 103-0234-796</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>