
.recommendations-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.recommendations {
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 0;
    border: 1px solid #E4EBF8;
    background: #fff;
    padding: 15px 53px 0px;
    width: 1300px !important;
    box-shadow: 0px 0px 12px 5px rgba(234, 239, 249, 0.75);
    -webkit-transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    border-radius: 25px;
    height: 100%;
}

.recommendations-button__container {
    display: flex;
	justify-content: center;
	margin: 20px 0;
}

.recommendations-button {
    width: 250px;
    background: #f33b70;
    color: #fff !important;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    margin: 10px 0;
    cursor: pointer;
    text-decoration: none;
}

.recommendations-button i:before {
    position: relative;
    left: 0px;
    top: -1px;
    font-size: 1.3rem;
}

.recommendations-button span {
    font-size: 19px;
    position: relative;
    left: 8px;
}

.recommendations-header p:first-child {
    font-size: 20px;
    font-weight: 600;
    margin: 0.2rem 0rem;
}

.recommendations-header p:last-child {
    font-size: 18px;
}

.recommendations-middle {
    background: #ededed;
    padding: 20px;
}

.recommendations-middle__1 p:first-child,
.recommendations-middle__2 p:first-child {
    color: red;
    font-size: 19px;
    font-weight: 600;
}

.recommendations-middle__1 p:last-child,
.recommendations-middle__2 p:last-child {
    font-size: 16px;
    margin: 0 0 0 20px;
}

.recommendations-middle__2 {
    padding: 30px 0 0 0;
}

.recommendations-footer {
    background: #c7f4ff;
    padding: 20px;
    margin: 20px -54px 0 -54px;
    border-radius: 0 0 25px 25px;
}

.recommendations-footer__1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0.3rem 2rem;
}

.recommendations-footer__2 {
    font-size: 18px;
    margin: 0.3rem 2rem;
}

.recommendations-footer__panel {
    padding: 0.3rem 2rem;
    display: flex;
}

.recommendations-footer__group {
    width: 33%;
    display: -webkit-box;
    display: flex;
    padding: 40px 25px;
}

.recommendations-group__block p {
    font-size: 18px;
    font-weight: 600;
}

.recommendations-group__button {
    background: #0063a0;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    cursor: pointer;
}

.recommendations-footer__mag {
    width: 85px;
    background-image: url(../../assets/images/mag_glass.png);
    background-repeat: no-repeat;
}

.recommendations-footer__bulb {
    width: 70px;
    background-image: url(../../assets/images/bulb.png);
    background-repeat: no-repeat;
}

.recommendations-footer__graph {
    width: 110px;
    background-image: url(../../assets/images/graph.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;
}

.recommendations-group__graphBlock p:first-child {
    margin: 15px 0 0 0;    
}

.recommendations-group__graph {
    display: block;
}

.recommendations-group__block--bulb p {
    padding: 5px 0 20px 0;
}



