@import "mixin.styl"

/** Delivery Director Customisable **/
.dd-
    &brandBg-
        &primary
            background-color $dd-brand-primary
        &secondary
            background-color $dd-brand-secondary
    &brandTxt-
        &primary
            color $dd-brand-primary
        &secondary
            color $dd-brand-secondary
    &brandBorder-
        &primary
            border-color $dd-brand-primary
        &secondary
            border-color $dd-brand-secondary
    &brandBorder-bottom-
        &primary
            border-bottom-color $dd-brand-primary
        &secondary
            border-bottom-color $dd-brand-secondary
/** Gateway Customisable **/
.gw-
    &brandBg-
        &primary
            background-color $gw-brand-primary
        &secondary
            background-color $gw-brand-secondary
    &brandTxt-
        &primary
            color $gw-brand-primary
        &secondary
            color $gw-brand-secondary
    &brandBorder-
        &primary
            border-color $gw-brand-primary
        &secondary
            border-color $gw-brand-secondary
    &brandButton-
        &primary
            background-color $gw-brand-primary
            &:hover 
                background lighten($gw-brand-primary, 20%)
            &:active 
                background darken($gw-brand-primary, 10%)
        &secondary
            background-color $gw-brand-secondary
            &:hover 
                background lighten($gw-brand-secondary, 20%)
            &:active 
                background darken($gw-brand-secondary, 10%)
