/** Delivery Director Customisable **/
.dd-brandBg-primary {
  background-color: #28314a;
}
.dd-brandBg-secondary {
  background-color: #f33b70;
}
.dd-brandTxt-primary {
  color: #28314a;
}
.dd-brandTxt-secondary {
  color: #f33b70;
}
.dd-brandBorder-primary {
  border-color: #28314a;
}
.dd-brandBorder-secondary {
  border-color: #f33b70;
}
.dd-brandBorder-bottom-primary {
  border-bottom-color: #28314a;
}
.dd-brandBorder-bottom-secondary {
  border-bottom-color: #f33b70;
}
/** Gateway Customisable **/
.gw-brandBg-primary {
  background-color: #87c530;
}
.gw-brandBg-secondary {
  background-color: #ef7300;
}
.gw-brandTxt-primary {
  color: #87c530;
}
.gw-brandTxt-secondary {
  color: #ef7300;
}
.gw-brandBorder-primary {
  border-color: #87c530;
}
.gw-brandBorder-secondary {
  border-color: #ef7300;
}
.gw-brandButton-primary {
  background-color: #87c530;
}
.gw-brandButton-primary:hover {
  background: #a0d555;
}
.gw-brandButton-primary:active {
  background: #7ab12b;
}
.gw-brandButton-secondary {
  background-color: #ef7300;
}
.gw-brandButton-secondary:hover {
  background: #ff8f26;
}
.gw-brandButton-secondary:active {
  background: #d76800;
}
