.form-checkcell {
  float: left;
  position: relative;
  padding: 5px 0;
}
.form-checkcell__label {
  vertical-align: top;
  color: #6d747e;
  font-size: 1.4rem;
  float: left;
  width: 100%;
  font-weight: normal;
}
.form-checkcell__check:not(:checked),
.form-checkcell__check:checked,
.form-checkcell__radio:not(:checked),
.form-checkcell__radio:checked {
  position: absolute;
  z-index: 999999;
  opacity: 0;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
}
.form-checkcell__check:not(:checked),
.form-checkcell__check:checked {
  width: 0;
  height: 0;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label,
.form-checkcell__check:checked + .form-checkcell__label,
.form-checkcell__radio:not(:checked) + .form-checkcell__label,
.form-checkcell__radio:checked + .form-checkcell__label {
  position: relative;
  padding: 1px 20px 0 30px;
  cursor: pointer;
  font-size: 1rem;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label,
.form-checkcell__check:checked + .form-checkcell__label {
  padding: 8px 40px 0 25px;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label.otherExperienceLabel,
.form-checkcell__check:checked + .form-checkcell__label.otherExperienceLabel {
  padding: 7px 40px 0 35px;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label:before,
.form-checkcell__check:checked + .form-checkcell__label:before {
  font-family: 'icons';
  content: '\f129';
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  color: #87c530;
}
.form-checkcell__check:checked + .form-checkcell__label:before {
  content: '\f128';
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:before,
.form-checkcell__radio:checked + .form-checkcell__label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid #d3d3d3;
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:before,
.form-checkcell__radio:checked + .form-checkcell__label:before {
  border-radius: 50%;
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:after {
  opacity: 0;
  transform: scale(0);
}
.form-checkcell__radio:checked + .form-checkcell__label:after {
  opacity: 1;
  transform: scale(1);
}
.form-checkcell__radio:disabled:not(:checked) + .form-checkcell__label:before,
.form-checkcell__radio:disabled:checked + .form-checkcell__label:before {
  box-shadow: none;
  border-color: #d3d3d3;
  border-width: 2px solid;
  background-color: #ddd;
}
.form-checkcell__radio:disabled:checked + .form-checkcell__label:after {
  color: #999;
}
.form-checkcell__radio:disabled + .form-checkcell__label {
  color: #aaa;
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:after,
.form-checkcell__radio:checked + .form-checkcell__label:after {
  font-family: "icons";
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  font-size: 3rem;
  background-color: #87c530;
  border-radius: 50%;
  transform-origin: center;
  transition: all 0.2s;
}
.form-textarea textarea {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  min-width: 250px;
  resize: none;
  border-radius: 5px;
}
.form-textarea textarea:focus {
  outline: none;
}
.form-input input[type="text"],
.form-input input[type="password"] {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  min-width: 200px;
  border-radius: 5px;
}
.form-input input[type="text"]::-webkit-input-placeholder,
.form-input input[type="password"]::-webkit-input-placeholder,
.form-input input[type="text"]::-moz-placeholder,
.form-input input[type="password"]::-moz-placeholder,
.form-input input[type="text"]::-ms-input-placeholder,
.form-input input[type="password"]::-ms-input-placeholder {
  color: #d3d3d3;
  font-weight: 400;
}
.form-input input[type="text"]:focus,
.form-input input[type="password"]:focus {
  outline: none;
}
.modal.show {
  display: flex !important;
  transition: 0.5s ease;
}
.modal-header {
  padding: 8px;
}
.modal-body {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.modal-footer {
  background-color: #f2f2f2;
  padding: 5px 15px;
  border-top: none;
}
.modal-xl-center {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.no-padding {
  padding: 0;
}
.no-left-padding {
  padding-left: 0;
}
.no-right-padding {
  padding-right: 0;
}
.no-top-padding {
  padding-top: 0;
}
.no-bottom-padding {
  padding-bottom: 0;
}
.no-margin {
  margin: 0;
}
