@import "mixin.styl"

::-webkit-scrollbar-track
	-webkit-box-shadow inset 0 0 6px $shadow
	border-radius 6px
	background-color $gw-bg-lightest

::-webkit-scrollbar
	width 12px
	background-color $gw-bg-lightest
	height 10px

::-webkit-scrollbar-thumb
	border-radius 6px
	/*-webkit-box-shadow inset 0 0 6px $shadow*/
	background-color $gw-btn-dark

.gw
	input[type="file"]
		display none

	&--clearBoth
		clear both

	&--errorColor
		color $alertError

	&-body-hide
		display none

	&-body-show
		display block

	&-welcome
		margin-top 220px
		padding-bottom 10px
		text-align center
		font-size $fs-24
		color $gw-text-light
		width 100%

	&-form
		select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input::-webkit-input-placeholder
			color $gw-input-elements
			font-size $fs-14
			font-weight $fontRegular

		select::-moz-placeholder, textarea::-moz-placeholder, input::-moz-placeholder /* Firefox 18- */
			color $gw-input-elements
			font-size $fs-14
			font-weight $fontRegular

		select::-moz-placeholder, textarea::-moz-placeholder, input::-moz-placeholder /* Firefox 19+ */
			color $gw-input-elements
			font-size $fs-14
			font-weight $fontRegular

		select::-ms-input-placeholder, textarea::-ms-input-placeholder, input::-ms-input-placeholder
			color $gw-input-elements
			font-size $fs-14
			font-weight $fontRegular

	.form
		&-group 
			margin-bottom 10px

		&-control
			color $gw-text-light
			font-size $fs-14
			font-weight $fontRegular
			background-color $gw-input-bg
			
			&:focus
				outline none
				border-color $gw-input-border

	&-dropdown
		.dropdown
			&-menu
				left 14px
				width calc(100% - 28px);
				padding 0px
				margin 0px
    
				span
					float left
					width 100%
					padding 0px 10px
					font-weight $fontBold
					background-color $gw-input-elements

			&-item
				background-color $gw-bg-light

			&-item.active, &-item:active, &-item:hover
				color $gw-text-dark !important
				text-decoration none
				background-color $gw-bg-dark
				border none
				outline none
				cursor pointer

			&-toggle:focus
				outline none

			&-toggle:after
				position absolute
				top 17px
				right 10px
				content ""
				border-top .3em solid
				border-right .3em solid transparent
				border-left .3em solid transparent
				opacity 1

		.placeholder
			opacity 0.5
			font-weight $fontRegular
			font-size $fs-14
			color #cccccc
			padding 9px 18px
        
	&-languages
		float left
		margin 12px
		&.hide
			display none

	&-languagedd
		min-width 6rem
		margin-top 0px
		right 0
		left inherit
	
	&-langdropdown
		width 180px

	&-languagelist
		width 180px

		.btn-secondary
			text-align left

			&.focus, &:focus
				-webkit-box-shadow none
				box-shadow none

			&:hover
				background-color $gw-bg-lightest
				cursor pointer

	&-button
		.btn
			cursor pointer

			&--success
				color $gw-text-lightest
				background-color $gw-brand-primary
				border-color $gw-brand-primary

			&--delete
				min-width 80px
				height 30px
				line-height 0px

			&--default
				color $gw-text-lightest
				background-color $gw-btn-dark
		
				&:hover
					color $gw-text-lightest
					background-color $gw-brand-primary
					border-color $gw-brand-primary
				
				&:visited, &:active, &:focus
					color $gw-text-lightest
					background-color $gw-btn-dark
					border-color $gw-btn-dark

	&-alert
		position fixed
		top 0px
		left 0px
		width 100%
		height 56px
		z-index 9999

	&-topbar
		.navbar
			background $gw-bg-light 
			padding 0 20px
			
			&__title
				text-transform uppercase
				color $gw-text-light
				font-size $fs-18
				font-weight $fontBold

			&__button
				margin 10px 5px 8px 5px
				font-size $fs-12
				font-weight $fontRegular
				outline none
				background transparent
				cursor pointer
				color $gw-btn-dark
				display inline-flex
				justify-content center

				i
					margin 0 5px 0 0
					/*line-height 0.8*/

			&__button:hover
				background-color $gw-btn-lightest

			&__button.active
				background-color $gw-btn-lightest
				outline 0
				-webkit-box-shadow none
				box-shadow none

			&-button
				&__cont
					float right
					position relative
				&__options
					font-size 0.75em
					font-weight normal
					display flex
					justify-content left
					border 1px solid $gw-input-border
					background $gw-input-bg
					border-radius 3px	
					width 95%
					position absolute
					left 5px
					top 44px
					display none
					z-index 1
					&.show
						display block
					p
						margin 0
						padding 5px 20px
						cursor pointer
						&:hover
							background-color $gw-brand-primary
							color $gw-text-lightest

	&-checkBox
		height 32px
		float right
		margin-left 160px
		display flex
		align-items baseline
		color $gw-text-light

		.chkAddMore
			margin 0 5px 0 0
			font-size $fs-23

		label 
			float left
			font-weight $fontSemibold
			padding-top 3px

		button 
			float left
			margin-left 10px
			margin-top 3px
			padding 3px 20px

	&-btnAddModule
		color $gw-icon
		border-radius 35px
		width 42px
		height 42px
		display flex
		justify-content center
		font-size $fs-23
		box-shadow 3px 3px 5px $shadow
		-moz-box-shadow 3px 3px 5px $shadow
		-webkit-box-shadow 3px 3px 5px $shadow
		-o-box-shadow 3px 3px 5px $shadow
		cursor pointer

		&__container
			clear both
			margin 0px auto
			text-align center
			padding-top 0px

			&--fixed
				position fixed
				margin-top 30px
				margin-left 120px
				z-index 999

				@media screen and (max-width 1024px)
					margin-top 65px

	&-hierarchy__container
		padding 25px 12px

		@media screen and (max-width 1024px)
			padding 60px 12px

	&-switch
		position relative
		width 60px
		height 34px
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none

		&-checkbox 
			display none

		&-label 
			display block
			overflow hidden
			cursor pointer
			border 2px solid $gw-bg-lightest
			border-radius 8px

		&-inner
			display block
			width 200%
			margin-left -100%
			transition margin 0.3s ease-in 0s

			&:before, &:after 
				display block
				float left
				width 50%
				height 30px
				padding 0
				line-height 30px
				color white
				box-sizing border-box

			&:before 
				content "Yes"
				padding-left 10px
				background-color $gw-brand-primary
				color $gw-text-lightest

			&:after 
				content "No"
				padding-right 10px
				background-color $alertError
				color $gw-text-lightest
				text-align right

		&-switch 
			display block
			width 10px
			margin 3px
			background $gw-btn-lightest
			position absolute
			top 1px
			bottom 1px
			right 43px
			border-radius 4px
			transition all 0.3s ease-in 0s

		&-checkbox:checked + &-label &-inner 
			margin-left 0

		&-checkbox:checked + &-label &-switch 
			right 1px 

	&-deleteMsg
		p 
			text-align center
			padding 10px

		div 
			text-align center

	&-iconLibrary
		width 423px
		height 153px
		position absolute
		right 15px
		top 240px
		background $gw-btn-lightest
		border 1px solid $gw-input-border
		border-radius 5px
		box-shadow 2px 2px 15px $gw-btn-dark
		z-index 99

		h2
			margin 0
			font-size $fs-13
			font-weight $fontRegular
			
		.header
			height 30px
			line-height 30px
			padding 0px 10px

		.iconBox_container
			width 420px
			height 122px
			padding 5px
			overflow auto

		.iconBox
			float left
			display flex
			width 50px
			height 50px
			border 1px solid $gw-input-border
			border-radius 3px
			margin 3px
			text-align center
			line-height 48px
			cursor pointer

		.closeX
			position relative
			top 4px
			right 7px

	&-modal-xl
		width 90%
		max-width 1200px

	&-modal-sm
		width 35%
		max-width 850px

	&-modal-center
		min-height calc(100vh - 60px)
		display flex
		flex-direction column
		justify-content center

	input[type="file"]
		display none

	&__iconFile
		width 78%
		border 1px solid $gw-input-border
		border-radius 0.25rem
		display inline-flex
		align-items center
		
		&-label
			width 34px
			height 32px
			margin 0px 1px
			display flex
			align-items center
			justify-content center
		
		&-input
			border none
			margin 1px

		&-note 
			font-size $fs-10
			color $gw-input-elements
			display flex

	&__btnSelect 
		padding 5px 10px
		margin-top -3px
		width 20%

	&-formBody
		border-top 1px solid $gw-input-border
		padding 20px 10px 0px 10px
		margin-top 15px

		li
			background-color $gw-bg-light
			padding 6px 14px
			border 1px solid $gw-bg-lightest
			display flex
			align-items baseline

			&:hover
				color $gw-text-dark
				text-decoration none
				background-color $gw-bg-dark
				cursor pointer

		.__list
			&-container
				border 1px solid $gw-input-border
				background-color $gw-bg-lightest
				border-radius 5px
				width 100%
				padding 10px
				overflow-x hidden
				overflow-y auto

				p 
					font-size $fs-10
					color $gw-input-elements
					line-height 140px
					text-align center

			.icon
				font-size $fs-23
				color #666666
				cursor pointer

			&-ellipse 
				width 90%
				text-overflow ellipsis
				white-space nowrap
				overflow hidden

			&-arrows
				position absolute
				right 10px
				top 5px

			&-actionMap
				height 210px
			
			&-setSequence
				height 180px

	&-moduleModal, &-topicModal, &-sectionModal
		.modal
			&-content
				width 100%
				border-radius 6px
				border 2px solid $gw-bg-lightest
				align-self center

			&-header
				/*background-color $gw-brand-primary*/
				border-radius 6px 6px 0px 0px
				color $gw-text-lightest
				height 38px
				padding 8px

				h4
					color $gw-text-lightest
					margin 0
					font-weight $fontSemibold
					font-size $fs-19

				.close
					margin-top -4px
					font-size $fs-27
					opacity 1
					color $gw-text-lightest

			&-footer
				clear both
				background-color $gw-bg-light
				margin-top 5px
				padding 5px 15px
				border-radius 0px 0px 6px 6px
				border-top none
				text-align right
