@import "mixin.styl"
@import "common.styl"
@import url("icons.css")

::-webkit-scrollbar-track
	-webkit-box-shadow inset 0 0 6px $shadow
	border-radius 6px
	background-color $gw-bg-lightest

::-webkit-scrollbar
	width 12px
	background-color $gw-bg-lightest

::-webkit-scrollbar-thumb
	border-radius 6px
	/*-webkit-box-shadow inset 0 0 6px $shadow*/
	background-color $gw-btn-dark

.gw
	input[type="file"]
		display none

	&--clearBoth
		clear both

	&-header
		background-color $gw-bg-dark
		height 55px	
	
		&-logo
			height 30px
			margin 10px 10px 10px 10px
	
		&-logout
			padding 15px
			a
				cursor pointer

	&--errorColor
		color $alertError

	&-welcome
		margin-top 220px
		padding-bottom 10px
		text-align center
		font-size $fs-24
		color $gw-text-light
		width 100%

	&-form
		select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input::-webkit-input-placeholder
			color $gw-input-elements
			font-size $fs-14
			font-weight $fontRegular

		select::-moz-placeholder, textarea::-moz-placeholder, input::-moz-placeholder /* Firefox 18- */
			color $gw-input-elements
			font-size $fs-14
			font-weight $fontRegular

		select::-moz-placeholder, textarea::-moz-placeholder, input::-moz-placeholder /* Firefox 19+ */
			color $gw-input-elements
			font-size $fs-14
			font-weight $fontRegular

		select::-ms-input-placeholder, textarea::-ms-input-placeholder, input::-ms-input-placeholder
			color $gw-input-elements
			font-size $fs-14
			font-weight $fontRegular

	.form
		&-group 
			margin-bottom 10px
			.otherExperienceDetails
				padding 15px 15px

		&-control
			color $gw-text-light
			font-size $fs-14
			font-weight $fontRegular
			background-color $gw-input-bg
			
			&:focus
				outline none
				border-color $gw-input-border

	&-dropdown
		.dropdown
			&-menu
				left 14px
				width calc(100% - 28px);
				padding 0px
				margin 0px

				span
					float left
					width 100%
					padding 0px 10px
					font-weight $fontBold
					background-color $gw-input-elements

			&-item
				background-color $gw-bg-light

			&-item.active, &-item:active, &-item:hover
				color $gw-text-dark !important
				text-decoration none
				background-color $gw-bg-dark
				border none
				outline none
				cursor pointer

			&-toggle:focus
				outline none

			&-toggle:after
				position absolute
				top 17px
				right 10px
				content ""
				border-top .3em solid
				border-right .3em solid transparent
				border-left .3em solid transparent
				opacity 1

		.placeholder
			opacity 0.5
			font-weight $fontRegular
			font-size $fs-14
			color #cccccc
			padding 9px 18px

		.btn-secondary
			text-align left

			&.focus, &:focus
				-webkit-box-shadow none
				box-shadow none

			&:hover
				background-color $gw-bg-lightest
				cursor pointer

	&-button
		&^[0]-module-lifeCycle, &^[0]-section-lifeCycle
			.btn
				width 100%
		.btn
			cursor pointer
			color $gw-text-lightest

			&--success
				color $gw-text-lightest
				background-color $gw-brand-primary
				border-color $gw-brand-primary
				&:hover 
					background lighten($gw-brand-primary, 20%)
				&:active 
					background darken($gw-brand-primary, 10%)

			&--delete
				min-width 80px
				height 30px
				line-height 0px

			&--default
				color $gw-text-lightest
				background-color $gw-btn-dark
		
				&:hover
					color $gw-text-lightest
					background-color $gw-brand-primary
					border-color $gw-brand-primary
				
				&:visited, &:active, &:focus
					color $gw-text-lightest
					background-color $gw-btn-dark
					border-color $gw-btn-dark

	&-alert
		position fixed
		top 0px
		left 0px
		width 100%
		height 56px
		z-index 9999
		button.close
			color $gw-btn-lightest
			opacity 1
			font-size 1rem
			line-height 35px
			&:hover
				color $gw-btn-lightest
		&__message
			margin 0
			font-size 15px
			line-height 40px
		&__closeIcon
			padding 12px 15px	

	&-topbar
		.navbar
			background $gw-bg-light 
			padding 0 20px
			
			&__title
				text-transform uppercase
				color $gw-text-light
				font-size $fs-18
				font-weight $fontBold

			&__button
				margin 10px 5px 8px 5px
				font-size $fs-12
				font-weight $fontRegular
				outline none
				background transparent
				cursor pointer
				color $gw-btn-dark
				display inline-flex
				justify-content center

				i
					margin 0 5px 0 0
					/*line-height 0.8*/

			&__button:hover
				background-color $gw-btn-lightest

			&__button.active
				background-color $gw-btn-lightest
				outline 0
				-webkit-box-shadow none
				box-shadow none

	&-checkBox
		height 32px
		float right
		margin-left 160px
		display flex
		align-items baseline
		color $gw-text-light

		.chkAddMore
			margin 0 5px 0 0
			font-size $fs-23

		label 
			float left
			font-weight $fontSemibold
			padding-top 3px

		button 
			float left
			margin-left 10px
			margin-top 3px
			padding 3px 20px
	
	&-addModule__icon
		position absolute
		height 25px
		width 25px
		top 20px
		left 20px
		transform translate(-50%,-50%)

	&-btnAddModule
		color $gw-icon
		border-radius 35px
		width 42px
		height 42px
		display flex
		position relative
		justify-content center
		font-size $fs-23
		box-shadow 3px 3px 5px $shadow
		-moz-box-shadow 3px 3px 5px $shadow
		-webkit-box-shadow 3px 3px 5px $shadow
		-o-box-shadow 3px 3px 5px $shadow
		cursor pointer

		&__container
			clear both
			margin 0px auto
			text-align center
			padding-top 0px

			&--fixed
				position fixed
				margin-top 30px
				margin-left 120px
				z-index 999

				@media screen and (max-width 1024px)
					margin-top 65px

	&-hierarchy__container
		padding 25px 12px

		@media screen and (max-width 1024px)
			padding 60px 12px

	&-switch
		position relative
		width 60px
		height 34px
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none

		&-checkbox 
			display none

		&-label 
			display block
			overflow hidden
			cursor pointer
			border 2px solid $gw-bg-lightest
			border-radius 8px

		&-inner
			display block
			width 200%
			margin-left -100%
			transition margin 0.3s ease-in 0s

			&:before, &:after 
				display block
				float left
				width 50%
				height 30px
				padding 0
				line-height 30px
				color white
				box-sizing border-box

			&:before 
				content "Yes"
				padding-left 10px
				background-color $gw-brand-primary
				color $gw-text-lightest

			&:after 
				content "No"
				padding-right 10px
				background-color $alertError
				color $gw-text-lightest
				text-align right

		&-switch 
			display block
			width 10px
			margin 3px
			background $gw-btn-lightest
			position absolute
			top 1px
			bottom 1px
			right 43px
			border-radius 4px
			transition all 0.3s ease-in 0s

		&-checkbox:checked + &-label &-inner 
			margin-left 0

		&-checkbox:checked + &-label &-switch 
			right 1px 

	&-deleteMsg
		p 
			text-align center
			padding 10px

		div 
			text-align center

	&-iconLibrary
		width 423px
		height 153px
		position absolute
		right 15px
		top 240px
		background $gw-btn-lightest
		border 1px solid $gw-input-border
		border-radius 5px
		box-shadow 2px 2px 15px $gw-btn-dark
		z-index 99

		h2
			margin 0
			font-size $fs-13
			font-weight $fontRegular
			
		.header
			height 30px
			line-height 30px
			padding 0px 10px

		.iconBox_container
			width 420px
			height 122px
			padding 5px
			overflow auto

		.iconBox
			float left
			display flex
			width 50px
			height 50px
			border 1px solid $gw-input-border
			border-radius 3px
			margin 3px
			text-align center
			line-height 48px
			cursor pointer

		.closeX
			position relative
			top 4px
			right 7px

	&-modal-xl
		width 90%
		max-width 1200px

	&-modal-small
		width 100%
		max-width 600px

	&-modal-sm
		width 50%
		max-width 850px
		@media screen and (min-width 1025px) and (max-width 1500px)
			width 75%
		@media screen and (max-width 1024px)
			width 80%

	&-modal-center
		min-height calc(100vh - 60px)
		display flex
		flex-direction column
		justify-content center

	&-modal-content
		&.hide
			display none
		&.show
			display block

	&-modal-body
		&.hide
			display none
		&.show
			display block
			
	input[type="file"]
		display none

	&__iconFile
		width 78%
		border 1px solid $gw-input-border
		border-radius 0.25rem
		display inline-flex
		align-items center
		
		&-label
			width 34px
			height 32px
			margin 0px 1px
			display flex
			align-items center
			justify-content center
		
		&-input
			border none
			margin 1px

		&-note 
			font-size $fs-10
			color $gw-input-elements
			display flex

	&__btnSelect 
		padding 5px 10px
		margin-top -3px
		width 20%

	&-formBody
		border-top 1px solid $gw-input-border
		padding 20px 10px 0px 10px
		margin-top 15px

		li
			background-color $gw-bg-light
			padding 6px 14px
			border 1px solid $gw-bg-lightest
			display flex
			align-items baseline

			&:hover
				color $gw-text-dark
				text-decoration none
				background-color $gw-bg-dark
				cursor pointer

		.__list
			&-container
				border 1px solid $gw-input-border
				background-color $gw-bg-lightest
				border-radius 5px
				width 100%
				padding 10px
				overflow-x hidden
				overflow-y auto

				p 
					font-size $fs-10
					color $gw-input-elements
					line-height 140px
					text-align center

			.icon
				font-size $fs-23
				color #666666
				cursor pointer

			&-ellipse 
				width 90%
				text-overflow ellipsis
				white-space nowrap
				overflow hidden

			&-arrows
				position absolute
				right 10px
				top 5px

			&-actionMap
				height 210px
				&-disabled
					position absolute
					width calc(100% - 30px)
					height 210px
					background-color #000
					opacity 0.3
					top 0
					border-radius 5px
					display none
					&.show
						display block
			
			&-setSequence
				height 180px
				&-disabled
					position absolute
					width calc(100% - 30px)
					height 180px
					background-color #000
					opacity 0.3
					top 0
					border-radius 5px
					display none
					&.show
						display block

	&-moduleModal, &-topicModal, &-sectionModal, &-moduleEnrollModal, &-scheduleModal, &-sessionConfirmationModal, &-dismissNotificationModal, &-resourceModal
		.modal
			&-content
				width 100%
				border-radius 6px
				border 2px solid $gw-bg-lightest
				align-self center

			&-header
				/*background-color $gw-brand-primary*/
				border-radius 6px 6px 0px 0px
				color $gw-text-lightest
				height 38px
				padding 8px

				h4
					color $gw-text-lightest
					margin 0
					font-weight $fontSemibold
					font-size $fs-19

				.close
					margin-top -4px
					font-size $fs-27
					opacity 1
					color $gw-text-lightest

			&-footer
				clear both
				background-color $gw-bg-light
				margin-top 5px
				padding 5px 15px
				border-radius 0px 0px 6px 6px
				border-top none
				text-align right
			
	


	/**************************************************************************************/
	.hi
		&-fav_icon 
			float right
			font-size $fs-24
			/*color $gw-brand-primary*/
			position relative
			top -15px
			cursor pointer

		&-list__menubar
			position absolute
			width 120px
			color $gw-text-lightest
			margin-top 12px
			right -120px

		&-mIcon
			float left
			background-color $gw-btn-dark
			font-size $fs-12
			color $gw-text-lightest
			border-radius 15px
			height 24px
			width 24px
			text-align center
			margin 2px
			cursor pointer

			&--disabled
				float left
				background-color $gw-input-elements
				font-size $fs-12
				color $gw-text-lightest
				border-radius 15px
				height 24px
				width 24px
				text-align center
				margin 2px

			&:hover
				color $gw-text-lightest
				background-color $gw-brand-primary
				border-color $gw-brand-primary

		&-btnLongBlack
			float left
			width 100%
			margin 5px 0 10px 0
			text-align center
			padding 4px
			cursor pointer
			background-color $gw-btn-dark
			color $gw-text-lightest

		&-btnLongBlack1--container
			padding 5px 20px
			height 48px

		&-btnLongBlack2--container
			padding 5px 20px
			height 48px
			margin 30px 0


		/**** First Level Hierarchy List Styling ****/
		&-list1
			overflow hidden
			margin 0 0 20px 0
			&.hidden
				display none
			&_centerIcon
				position relative
				top 10px
				margin-right 50px
				text-align right
				@media screen and (max-width 767px)
					margin-left 20px
					margin 10px
					text-align left
			&_send
				display inline-flex
			    &_datetime
					margin-left 5px  
					margin-right 10px
				&_time
					float left
			&_send:before
				font-size $fs-28
			&_title
				width 50%
				display table-cell
				@media screen and (max-width 767px)
					width 100%
				&:after
					content ''
					display table
					clear both

				span, p
					width calc(100% - 40px)
					@media screen and (max-width 767px)
						width 100%

				&.no-enrollschedule
					@media screen and (max-width 767px)
						width 85%

			&_header
				position relative
				min-height 56px
				border-radius 40px
				cursor pointer
				color $gw-text-lightest
				text-transform uppercase
				overflow hidden
				z-index 1
				&Cont
					display table
					padding 15px
					position relative
					@media screen and (max-width 767px)
						display block
					width 100%
					&.no-enrollschedule
						@media screen and (max-width 767px)
							display flex

			&_header
				span
					padding 0 0 0 20px
					font-size $fs-18

				&.level1Expand.gw-brandBg-primary
					-webkit-transition background-color 0.5s ease-in
					-moz-transition background-color 0.5s ease-in
					-ms-transition background-color 0.5s ease-in
					-o-transition background-color 0.5s ease-in
					transition background-color 0.5s ease-in

					.hi-list1_expCol
						transform rotate(90deg)
						transition transform 0.25s ease-in

				&.level1Collapse
					-webkit-transition background-color 0.5s ease-out
					-moz-transition background-color 0.5s ease-out
					-ms-transition background-color 0.5s ease-out
					-o-transition background-color 0.5s ease-out
					transition background-color 0.5s ease-out
					background-color $gw-btn-light

			&_enroll, &_schedule, &_reschedule
				&.disabled
					opacity 0.5
					cursor default

			&.hide
				display none		

			&_body
				display block
				margin -25px 0 25px 0
				background-color $gw-bg-lightest
				max-height 0
				overflow hidden
				-webkit-transition max-height 0.75s ease-out
				-moz-transition max-height 0.75s ease-out
				-ms-transition max-height 0.75s ease-out
				-o-transition max-height 0.75s ease-out
				transition max-height 0.75s ease-out

				.hi-list__menubar
					display none

				&.show 
					max-height 12000px
					-webkit-transition max-height 2s ease-in
					-moz-transition max-height 2s ease-in
					-ms-transition max-height 2s ease-in
					-o-transition max-height 2s ease-in
					transition max-height 2s ease-in
					.hi-list3_new
						display block
					.hi-list__menubar
						display block

			&_rightContent
				display table-cell
				vertical-align middle
				line-height normal
				text-align right
				right 10px
				top 33px
				position absolute
				@media screen and (max-width 767px)
					width 65%
					float right
					display block
				span
					padding 0 15px 0 0
					@media screen and (max-width 767px)
						padding 0 15px 10px 0
					font-size $fs-15
					float none
					.icon:before
						font-size $fs-22
						position relative
						top -5px
						left 3px
					.icon.enroll:before
						top -3px
				&.no-enrollschedule
					@media screen and (max-width 767px)
						width 15%

			&_expCol 
				float right
				margin 0 20px 0 0
				transition transform 0.25s ease-in
				&:before 
					font-weight $fontBold

				&.no-enrollschedule
					@media screen and (max-width 767px)
						position relative
						top 40%

			&_moduleDescription
				padding 3px 0 0 20px
				font-size $fs-14
				text-transform none
				margin 0
				
		@-moz-document url-prefix()
			&-list1
				min-height 66px 
				
		/**** Second Level Hierarchy List Styling ****/
		&-co_img 
			float left
			width 56px
			height 48px
			align-self center

		&-list2 
			padding 0px 10px
			border-bottom 1px solid $gw-input-border
			background-color $gw-bg-light

			&_hyperlink
				cursor pointer

			&.hide
				display none

			&:first-child
				padding 30px 10px 0px 10px

			&.show
				padding 30px 10px 0px 10px

			&.show~.show
				padding 0 10px

			&_header 
				background-color $gw-bg-light
				padding 10px
				/*cursor pointer*/
				overflow hidden

				&.level2Expand 
					background-color $gw-bg-dark

					.hi-list2_expCol 
						transform rotate(90deg)
						transition transform 0.25s ease-in
			&_title
				h3
					margin 0
					font-size $fs-17
					font-weight $fontSemibold
					color $gw-text-dark
					word-break break-word
			
			&_body 
				display block
				padding 0 10px 0 10px

				max-height 0
				overflow hidden
				-webkit-transition max-height 0.75s ease-out
				-moz-transition max-height 0.75s ease-out
				-ms-transition max-height 0.75s ease-out
				-o-transition max-height 0.75s ease-out
				transition max-height 0.75s ease-out

				&.show 
					max-height 12000px
					-webkit-transition max-height 2s ease-in
					-moz-transition max-height 2s ease-in
					-ms-transition max-height 2s ease-in
					-o-transition max-height 2s ease-in
					transition max-height 2s ease-in
					.hi-list3_new
						display block

			&_icon
				float left
				width 48px
				height 48px
				border-radius 5px

			&_iconX
				float left
				width 48px
				height 48px
				border 1px dashed $gw-btn-dark
				border-radius 5px
				
				&[Alt]
					font-size 8pt
					text-align center
					line-height 12px

			&_title 
				float left
				border-right 1px solid $gw-input-border
				width 35%

			&_title span 
				color $gw-btn-light

			&_description 
				float left
				font-size $fs-14
				margin 0
				color $gw-text-dark
				width 40%
				margin-left 10px
				@media screen and (max-width 768px)
					width 36%


			&_expCol 
				float right
				margin 15px 0 0 0
				transition transform 0.25s ease-in

			&_completionStatus 
				width 41px
				height 30px
				float right
				border 1px solid $gw-btn-dark
				border-radius 5px
				margin 7px 10px 0 0

				&.notComplete 
					text-align center
					font-size $fs-17
					line-height 27px

				&.complete 
					background-color $gw-btn-light
					border none

					&:before 
						font-size $fs-20
						color $gw-text-lightest
						margin 11px
						line-height 29px

			&_duration 
				font-size $fs-12
				float left
				margin 5px 0 0 0

				&_icon 
					float left
					margin 5px 0 0 0

					&:before 
						margin 0 5px 0 0
						font-size $fs-14

			&.coLevel2ExpandContBG 
				background-color $gw-bg-dark

			&.lastLevelCO 
				margin 0
				.hi-list2_header
					background-color transparent
					.hi-list3_cont
						background-color $gw-bg-lightest


		/**** Third Level Hierarchy List Styling ****/
		&-list3 
			background-color $gw-bg-lightest
			overflow hidden
			margin 0 0 10px 0
			display table
			width 100%
			
			&_hyperlink
				cursor pointer
			
			&_lockMessage
				position inherit
				font-size 0.75em
				float right
				width 100%
				margin-top -16px
				margin-bottom -2px
				text-align right
				
				&.removed
					color $alertError
			&.hide
				display none
			&_new
				position absolute
				z-index 1
				display none
				background $gw-btn-dark
				bottom 0
				color $gw-text-lightest
				padding 2px 10px
				text-transform uppercase
				font-size 14px
			&-icon_new
				&:before
					color #fff
					position relative
					left 10px
					top -9px
					font-size 1.5rem
			&_cont
				display flex
				position relative
				width 100%

			&:last-child 
				margin 0 0 10px 0

			&_icon
				float left
				align-self center
				width 48px
				height 48px

			&_iconX
				float left
				align-self center
				width 48px
				height 48px
				border 1px dashed $gw-btn-dark
				border-radius 5px

				&[Alt]
					font-size 8pt
					text-align center
					line-height 12px

			&_favlockIconBox
				float right
				min-width 64px
				height 24px
				padding 0
				position absolute
				top 25%
				right 80px

			&_title 
				padding 15px 10px 12px 10px
				width calc(100% - 125px)
				align-self center

				h4
					margin 0
					font-weight $fontSemibold
					font-size $fs-14
					color $gw-text-dark
					width calc(100% - 24px)
					word-break break-word

			&_details 
				overflow hidden
				color $gw-btn-light
				@media screen and (max-width 767px)
					padding 0px 35px 0 0
					
				&--row
					width 100%
					height 24px
					display flex
					align-items center

				&_nonmobile 
					display table
					width 100%

			&_level, &_comments
				margin 5px 0 0 5px
				font-size $fs-12
				float left

				&_icon
					float left
					margin 5px 0 0 15px

					&:before 
						font-size $fs-14
			
			/*&_comments
				margin 5px 0 0 5px
				font-size $fs-12
				float left
				
				&_icon
					float left
					margin-top 5px

					&:before 
						font-size $fs-14 */

			&_duration, &_rating
				font-size $fs-12
				margin 5px 0 0 0
				float left

				&_icon 
					float left
					margin 4px 0 0 0

					&:before 
						margin 0 5px 0 0
						font-size $fs-14

			&_left 
				display table-cell
				width calc(100% - 85px)

			&_locked
				float right
				font-size 1.2em
				position relative
				top -1px
				@media screen and (min-width 767px) and (max-width 1200px)
					top 0px 
				right 10px
				/*cursor pointer*/

			&_status 
				/*display table-cell*/
				border 2px solid $gw-bg-lightest
				width 70px
				min-height 65px
				position relative
				display: flex;
				justify-content: center;
				align-items: center;

				span 
					margin-top: -6px;
					font-size $fs-35
					color $gw-text-lightest

				&.not-started:before, &.in-progress:before, &.completed:before 
					font-size $fs-40
					color $gw-text-lightest
					position absolute
					top 50%
					width 100%
					text-align center
					-webkit-transform translateY(-50%)
					-moz-transform translateY(-50%)
					-ms-transform translateY(-50%)
					transform translateY(-50%)

				&.completed 
					background $gw-brand-primary
					opacity 0.3

					&:before 
						color $gw-brand-primary

				&.locked
					opacity 0.5

.fc-event
	border 1px solid #899098
	background-color #899098
	position relative
	display block
	font-size .85em
	line-height 1.3
	border-radius 5px
	font-weight 400

.fc-day-grid-event	
	margin 1px 30px 0
	text-align center
	padding 0 1px

a:not([href]):not([tabindex]).fc-day-grid-event
	color $gw-text-lightest
	
.fc-center
	h2
		color #4F90CF
		font-size 20px

.fc-button
	text-transform capitalize

.fc-toolbar.fc-header-toolbar
	margin-top 1em

.fc-scroller.fc-day-grid-container
	height auto !important

ng-select > div
	border-radius 5px
	height 36px

ng-select > div > div.single
	height 36px !important

ng-select > div > div.single > div.value, ng-select > div > div.single > div.placeholder,
ng-select > div > div.single > div.toggle,
ng-select > div > div.single > div.clear
	line-height 36px !important

ng-select > div > div.single > div.value, ng-select > div > div.single > div.placeholder
	padding 0 16px !important

@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/gw-favouritesPanel.component.styl"
@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/gw-landing.component.styl"
@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/gw-me.component.styl"
@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/gw-menu.component.styl"
@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/gw-notifications.component.styl"
@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/gw-comments.component.styl"
@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/gw-recentHistory.component.styl"
@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/gw-resources.component.styl"
@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/header.component.styl"
@import "../../../node_modules/@btsdigital/pulsegateway/dist/assets/styles/schedulemodule.component.styl"

@import "../../../node_modules/@btsdigital/pulsegatewayauthoring/dist/assets/styles/enroll-schedule.component.styl"
@import "../../../node_modules/@btsdigital/pulsegatewayauthoring/dist/assets/styles/module-lifecycle.component.styl"
@import "../../../node_modules/@btsdigital/pulsegatewayauthoring/dist/assets/styles/section-lifecycle.component.styl"
@import "../../../node_modules/@btsdigital/pulsegatewayauthoring/dist/assets/styles/text-config.component.styl"
@import "../../../node_modules/@btsdigital/pulsegatewayauthoring/dist/assets/styles/resources.component.styl"