::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #d3d3d3;
  border-radius: 6px;
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
/*-webkit-box-shadow inset 0 0 6px $shadow*/
  background-color: #6d747e;
}
.gw input[type="file"] {
  display: none;
}
.gw--clearBoth {
  clear: both;
}
.gw--errorColor {
  color: #d03535;
}
.gw-body-hide {
  display: none;
}
.gw-body-show {
  display: block;
}
.gw-welcome {
  margin-top: 220px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
  color: #6d747e;
  width: 100%;
}
.gw-form select::-webkit-input-placeholder,
.gw-form textarea::-webkit-input-placeholder,
.gw-form input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 0.875em;
  font-weight: normal;
}
.gw-form select::-moz-placeholder,
.gw-form textarea::-moz-placeholder,
.gw-form input::-moz-placeholder {
  color: #ccc;
  font-size: 0.875em;
  font-weight: normal;
}
.gw-form select::-moz-placeholder,
.gw-form textarea::-moz-placeholder,
.gw-form input::-moz-placeholder {
  color: #ccc;
  font-size: 0.875em;
  font-weight: normal;
}
.gw-form select::-ms-input-placeholder,
.gw-form textarea::-ms-input-placeholder,
.gw-form input::-ms-input-placeholder {
  color: #ccc;
  font-size: 0.875em;
  font-weight: normal;
}
.gw .form-group {
  margin-bottom: 10px;
}
.gw .form-control {
  color: #6d747e;
  font-size: 0.875em;
  font-weight: normal;
  background-color: #fff;
}
.gw .form-control:focus {
  outline: none;
  border-color: #ccc;
}
.gw-dropdown .dropdown-menu {
  left: 14px;
  width: calc(100% - 28px);
  padding: 0px;
  margin: 0px;
}
.gw-dropdown .dropdown-menu span {
  float: left;
  width: 100%;
  padding: 0px 10px;
  font-weight: bold;
  background-color: #ccc;
}
.gw-dropdown .dropdown-item {
  background-color: #f5f5f5;
}
.gw-dropdown .dropdown-item.active,
.gw-dropdown .dropdown-item:active,
.gw-dropdown .dropdown-item:hover {
  color: #333 !important;
  text-decoration: none;
  background-color: #e4e4e4;
  border: none;
  outline: none;
  cursor: pointer;
}
.gw-dropdown .dropdown-toggle:focus {
  outline: none;
}
.gw-dropdown .dropdown-toggle:after {
  position: absolute;
  top: 17px;
  right: 10px;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
  opacity: 1;
}
.gw-dropdown .placeholder {
  opacity: 0.5;
  font-weight: normal;
  font-size: 0.875em;
  color: #ccc;
  padding: 9px 18px;
}
.gw-languages {
  float: left;
  margin: 12px;
}
.gw-languages.hide {
  display: none;
}
.gw-languagedd {
  min-width: 6rem;
  margin-top: 0px;
  right: 0;
  left: inherit;
}
.gw-langdropdown {
  width: 180px;
}
.gw-languagelist {
  width: 180px;
}
.gw-languagelist .btn-secondary {
  text-align: left;
}
.gw-languagelist .btn-secondary.focus,
.gw-languagelist .btn-secondary:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.gw-languagelist .btn-secondary:hover {
  background-color: #fff;
  cursor: pointer;
}
.gw-button .btn {
  cursor: pointer;
}
.gw-button .btn--success {
  color: #fff;
  background-color: #87c530;
  border-color: #87c530;
}
.gw-button .btn--delete {
  min-width: 80px;
  height: 30px;
  line-height: 0px;
}
.gw-button .btn--default {
  color: #fff;
  background-color: #6d747e;
}
.gw-button .btn--default:hover {
  color: #fff;
  background-color: #87c530;
  border-color: #87c530;
}
.gw-button .btn--default:visited,
.gw-button .btn--default:active,
.gw-button .btn--default:focus {
  color: #fff;
  background-color: #6d747e;
  border-color: #6d747e;
}
.gw-alert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 56px;
  z-index: 9999;
}
.gw-topbar .navbar {
  background: #f5f5f5;
  padding: 0 20px;
}
.gw-topbar .navbar__title {
  text-transform: uppercase;
  color: #6d747e;
  font-size: 1.125em;
  font-weight: bold;
}
.gw-topbar .navbar__button {
  margin: 10px 5px 8px 5px;
  font-size: 0.75em;
  font-weight: normal;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: #6d747e;
  display: inline-flex;
  justify-content: center;
}
.gw-topbar .navbar__button i {
  margin: 0 5px 0 0;
/*line-height 0.8*/
}
.gw-topbar .navbar__button:hover {
  background-color: #fff;
}
.gw-topbar .navbar__button.active {
  background-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.gw-topbar .navbar-button__cont {
  float: right;
  position: relative;
}
.gw-topbar .navbar-button__options {
  font-size: 0.75em;
  font-weight: normal;
  display: flex;
  justify-content: left;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
  width: 95%;
  position: absolute;
  left: 5px;
  top: 44px;
  display: none;
  z-index: 1;
}
.gw-topbar .navbar-button__options.show {
  display: block;
}
.gw-topbar .navbar-button__options p {
  margin: 0;
  padding: 5px 20px;
  cursor: pointer;
}
.gw-topbar .navbar-button__options p:hover {
  background-color: #87c530;
  color: #fff;
}
.gw-checkBox {
  height: 32px;
  float: right;
  margin-left: 160px;
  display: flex;
  align-items: baseline;
  color: #6d747e;
}
.gw-checkBox .chkAddMore {
  margin: 0 5px 0 0;
  font-size: 1.438em;
}
.gw-checkBox label {
  float: left;
  font-weight: 600;
  padding-top: 3px;
}
.gw-checkBox button {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
  padding: 3px 20px;
}
.gw-btnAddModule {
  color: #fff;
  border-radius: 35px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  font-size: 1.438em;
  box-shadow: 3px 3px 5px #d3d3d3;
  -moz-box-shadow: 3px 3px 5px #d3d3d3;
  -webkit-box-shadow: 3px 3px 5px #d3d3d3;
  -o-box-shadow: 3px 3px 5px #d3d3d3;
  cursor: pointer;
}
.gw-btnAddModule__container {
  clear: both;
  margin: 0px auto;
  text-align: center;
  padding-top: 0px;
}
.gw-btnAddModule__container--fixed {
  position: fixed;
  margin-top: 30px;
  margin-left: 120px;
  z-index: 999;
}
@media screen and (max-width: 1024px) {
  .gw-btnAddModule__container--fixed {
    margin-top: 65px;
  }
}
.gw-hierarchy__container {
  padding: 25px 12px;
}
@media screen and (max-width: 1024px) {
  .gw-hierarchy__container {
    padding: 60px 12px;
  }
}
.gw-switch {
  position: relative;
  width: 60px;
  height: 34px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.gw-switch-checkbox {
  display: none;
}
.gw-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 8px;
}
.gw-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.gw-switch-inner:before,
.gw-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  color: #fff;
  box-sizing: border-box;
}
.gw-switch-inner:before {
  content: "Yes";
  padding-left: 10px;
  background-color: #87c530;
  color: #fff;
}
.gw-switch-inner:after {
  content: "No";
  padding-right: 10px;
  background-color: #d03535;
  color: #fff;
  text-align: right;
}
.gw-switch-switch {
  display: block;
  width: 10px;
  margin: 3px;
  background: #fff;
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 43px;
  border-radius: 4px;
  transition: all 0.3s ease-in 0s;
}
.gw-switch-checkbox:checked + .gw-switch-label .gw-switch-inner {
  margin-left: 0;
}
.gw-switch-checkbox:checked + .gw-switch-label .gw-switch-switch {
  right: 1px;
}
.gw-deleteMsg p {
  text-align: center;
  padding: 10px;
}
.gw-deleteMsg div {
  text-align: center;
}
.gw-iconLibrary {
  width: 423px;
  height: 153px;
  position: absolute;
  right: 15px;
  top: 240px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 15px #6d747e;
  z-index: 99;
}
.gw-iconLibrary h2 {
  margin: 0;
  font-size: 0.813em;
  font-weight: normal;
}
.gw-iconLibrary .header {
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
}
.gw-iconLibrary .iconBox_container {
  width: 420px;
  height: 122px;
  padding: 5px;
  overflow: auto;
}
.gw-iconLibrary .iconBox {
  float: left;
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 3px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}
.gw-iconLibrary .closeX {
  position: relative;
  top: 4px;
  right: 7px;
}
.gw-modal-xl {
  width: 90%;
  max-width: 1200px;
}
.gw-modal-sm {
  width: 35%;
  max-width: 850px;
}
.gw-modal-center {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gw input[type="file"] {
  display: none;
}
.gw__iconFile {
  width: 78%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
}
.gw__iconFile-label {
  width: 34px;
  height: 32px;
  margin: 0px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gw__iconFile-input {
  border: none;
  margin: 1px;
}
.gw__iconFile-note {
  font-size: 0.625em;
  color: #ccc;
  display: flex;
}
.gw__btnSelect {
  padding: 5px 10px;
  margin-top: -3px;
  width: 20%;
}
.gw-formBody {
  border-top: 1px solid #ccc;
  padding: 20px 10px 0px 10px;
  margin-top: 15px;
}
.gw-formBody li {
  background-color: #f5f5f5;
  padding: 6px 14px;
  border: 1px solid #fff;
  display: flex;
  align-items: baseline;
}
.gw-formBody li:hover {
  color: #333;
  text-decoration: none;
  background-color: #e4e4e4;
  cursor: pointer;
}
.gw-formBody .__list-container {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.gw-formBody .__list-container p {
  font-size: 0.625em;
  color: #ccc;
  line-height: 140px;
  text-align: center;
}
.gw-formBody .__list .icon {
  font-size: 1.438em;
  color: #666;
  cursor: pointer;
}
.gw-formBody .__list-ellipse {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.gw-formBody .__list-arrows {
  position: absolute;
  right: 10px;
  top: 5px;
}
.gw-formBody .__list-actionMap {
  height: 210px;
}
.gw-formBody .__list-setSequence {
  height: 180px;
}
.gw-moduleModal .modal-content,
.gw-topicModal .modal-content,
.gw-sectionModal .modal-content {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #fff;
  align-self: center;
}
.gw-moduleModal .modal-header,
.gw-topicModal .modal-header,
.gw-sectionModal .modal-header {
/*background-color $gw-brand-primary*/
  border-radius: 6px 6px 0px 0px;
  color: #fff;
  height: 38px;
  padding: 8px;
}
.gw-moduleModal .modal-header h4,
.gw-topicModal .modal-header h4,
.gw-sectionModal .modal-header h4 {
  color: #fff;
  margin: 0;
  font-weight: 600;
  font-size: 1.188em;
}
.gw-moduleModal .modal-header .close,
.gw-topicModal .modal-header .close,
.gw-sectionModal .modal-header .close {
  margin-top: -4px;
  font-size: 1.688em;
  opacity: 1;
  color: #fff;
}
.gw-moduleModal .modal-footer,
.gw-topicModal .modal-footer,
.gw-sectionModal .modal-footer {
  clear: both;
  background-color: #f5f5f5;
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 0px 0px 6px 6px;
  border-top: none;
  text-align: right;
}
