.loader_bg{
    background-color: #fff;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 999999999;
}

.loader_hidden {
    display: none;
}

.loader_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    filter: url(#loader); 
    animation: rotate-move 2s ease-in-out infinite;
    overflow: hidden;
}

.loader_text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 120px;
}

.dot { 
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #f33b70; 
  animation: dot-3-move 4s ease infinite;
}

.dot-2 {
  background-color: #d82e60; 
  animation: dot-2-move 4s ease infinite;
}

.dot-1 {
  background-color: #e54372; 
  animation: dot-1-move 4s ease infinite;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes dot-3-move {
  20% {transform: scale(1)}
  45% {transform: translateY(-18px) scale(.45)}
  60% {transform: translateY(-90px) scale(.45)}
  80% {transform: translateY(-90px) scale(.45)}
  100% {transform: translateY(0px) scale(1)} 
}

@keyframes dot-2-move {
  20% {transform: scale(1)}
  45% {transform: translate(-16px, 12px) scale(.45)}
  60% {transform: translate(-80px, 60px) scale(.45)}
  80% {transform: translate(-80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1)} 
}

@keyframes dot-1-move {
  20% {transform: scale(1); -moz-transform: scale(1);}
  45% {transform: translate(16px, 12px) scale(.45); -moz-transform: translate(16px, 12px) scale(.45)}
  60% {transform: translate(80px, 60px) scale(.45); -moz-transform: translate(80px, 60px) scale(.45)}
  80% {transform: translate(80px, 60px) scale(.45); -moz-transform: translate(80px, 60px) scale(.45)}
  100% {transform: translateY(0px) scale(1); -moz-transform: translateY(0px) scale(1)}
} 

@keyframes rotate-move {
  55% {transform: rotate(0deg)}
  80% {transform: rotate(360deg)}
  100% {transform: rotate(360deg)}
}

/* .loaderContainer {
  background-color: #fff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 99999;
}

.loaderContainer-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderContainer-loader {
  border: 10px solid #d3d3d3;
  border-top: 10px solid #2e598d;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */
