@import "mixin.styl"
@import "common.styl"

@import "colors.styl"

@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/action.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/actiondefault.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/singleselectradio.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/info.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/navigation.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/stackchart.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/barchart.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/piechart.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/columnchart.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/inbox.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/modal.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/videocomponent.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/imagecomponent.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/inbox-reply.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/single-select-carousal.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/progress.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/timer.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/bulletin.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/userprofile.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/activity.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/calendar.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/chat.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/alert.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/menu-items.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/user-chat.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/timeup.component.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/pa-home.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/videocall.styl"
@import "../../../node_modules/@btsdigital/pulseparticipantapp/dist/assets/styles/downloadreport.component.styl"
@import url("./loader.css")

[contenteditable="true"]
    border 2px dashed $alertError
    padding 5px

[contenteditable="true"]:focus,
[contenteditable="true"]:active
    outline none
    
.modal
    top -10%

body
    overflow-x hidden

::-webkit-scrollbar
    width 4px
    height 4px

::-webkit-scrollbar-thumb
    border-radius 6px
    background-color $pa-btn-light

::-webkit-scrollbar-track
    border-radius 6px
    background-color $pa-bg-lightest

