.form-checkcell {
  float: left;
  position: relative;
  padding: 5px 0;
}
.form-checkcell__label {
  vertical-align: top;
  color: #6d747e;
  font-size: 1.4rem;
  float: left;
  width: 100%;
  font-weight: normal;
}
.form-checkcell__check:not(:checked),
.form-checkcell__check:checked,
.form-checkcell__radio:not(:checked),
.form-checkcell__radio:checked {
  position: absolute;
  z-index: 999999;
  opacity: 0;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
}
.form-checkcell__check:not(:checked),
.form-checkcell__check:checked {
  width: 0;
  height: 0;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label,
.form-checkcell__check:checked + .form-checkcell__label,
.form-checkcell__radio:not(:checked) + .form-checkcell__label,
.form-checkcell__radio:checked + .form-checkcell__label {
  position: relative;
  padding: 1px 20px 0 30px;
  cursor: pointer;
  font-size: 1rem;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label,
.form-checkcell__check:checked + .form-checkcell__label {
  padding: 8px 40px 0 25px;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label.otherExperienceLabel,
.form-checkcell__check:checked + .form-checkcell__label.otherExperienceLabel {
  padding: 7px 40px 0 35px;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label:before,
.form-checkcell__check:checked + .form-checkcell__label:before {
  font-family: 'icons';
  content: '\f129';
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  color: #87c530;
}
.form-checkcell__check:checked + .form-checkcell__label:before {
  content: '\f128';
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:before,
.form-checkcell__radio:checked + .form-checkcell__label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid #d3d3d3;
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:before,
.form-checkcell__radio:checked + .form-checkcell__label:before {
  border-radius: 50%;
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:after {
  opacity: 0;
  transform: scale(0);
}
.form-checkcell__radio:checked + .form-checkcell__label:after {
  opacity: 1;
  transform: scale(1);
}
.form-checkcell__radio:disabled:not(:checked) + .form-checkcell__label:before,
.form-checkcell__radio:disabled:checked + .form-checkcell__label:before {
  box-shadow: none;
  border-color: #d3d3d3;
  border-width: 2px solid;
  background-color: #ddd;
}
.form-checkcell__radio:disabled:checked + .form-checkcell__label:after {
  color: #999;
}
.form-checkcell__radio:disabled + .form-checkcell__label {
  color: #aaa;
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:after,
.form-checkcell__radio:checked + .form-checkcell__label:after {
  font-family: "icons";
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  font-size: 3rem;
  background-color: #87c530;
  border-radius: 50%;
  transform-origin: center;
  transition: all 0.2s;
}
.form-textarea textarea {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  min-width: 250px;
  resize: none;
  border-radius: 5px;
}
.form-textarea textarea:focus {
  outline: none;
}
.form-input input[type="text"],
.form-input input[type="password"] {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  min-width: 200px;
  border-radius: 5px;
}
.form-input input[type="text"]::-webkit-input-placeholder,
.form-input input[type="password"]::-webkit-input-placeholder,
.form-input input[type="text"]::-moz-placeholder,
.form-input input[type="password"]::-moz-placeholder,
.form-input input[type="text"]::-ms-input-placeholder,
.form-input input[type="password"]::-ms-input-placeholder {
  color: #d3d3d3;
  font-weight: 400;
}
.form-input input[type="text"]:focus,
.form-input input[type="password"]:focus {
  outline: none;
}
.modal.show {
  display: flex !important;
  transition: 0.5s ease;
}
.modal-header {
  padding: 8px;
}
.modal-body {
  max-height: calc(100vh - 290px);
  overflow-y: auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .modal-body {
    max-height: calc(100vh - 260px);
  }
}
.modal-footer {
  background-color: #f2f2f2;
  padding: 5px 15px;
  border-top: none;
}
.modal-xl-center {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.no-padding {
  padding: 0;
}
.no-left-padding {
  padding-left: 0;
}
.no-right-padding {
  padding-right: 0;
}
.no-top-padding {
  padding-top: 0;
}
.no-bottom-padding {
  padding-bottom: 0;
}
.no-margin {
  margin: 0;
}
.dd-brandBg-primary {
  background-color: #28314a;
}
.dd-brandBg-secondary {
  background-color: #f33b70;
}
.dd-brandTxt-primary {
  color: #28314a;
}
.dd-brandTxt-secondary {
  color: #f33b70;
}
.dd-brandBorder-primary {
  border-color: #28314a;
}
.dd-brandBorder-secondary {
  border-color: #f33b70;
}
.dd-brandBorder-bottom-primary {
  border-bottom-color: #28314a;
}
.dd-brandBorder-bottom-secondary {
  border-bottom-color: #f33b70;
}
.gw-brandBg-primary {
  background-color: #87c530;
}
.gw-brandBg-secondary {
  background-color: #ef7300;
}
.gw-brandTxt-primary {
  color: #87c530;
}
.gw-brandTxt-secondary {
  color: #ef7300;
}
.gw-brandBorder-primary {
  border-color: #87c530;
}
.gw-brandBorder-secondary {
  border-color: #ef7300;
}
.gw-brandButton-primary {
  background-color: #87c530;
}
.gw-brandButton-primary:hover {
  background: #a0d555;
}
.gw-brandButton-primary:active {
  background: #7ab12b;
}
.gw-brandButton-secondary {
  background-color: #ef7300;
}
.gw-brandButton-secondary:hover {
  background: #ff8f26;
}
.gw-brandButton-secondary:active {
  background: #d76800;
}
.action-submit {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 15px 15px 15px;
}
.action-submit__button {
  background: #87c530;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  outline: 0;
  text-align: center;
  min-width: 96px;
  padding: 0 15px;
  border-radius: 5px;
  max-width: 100px;
  float: right;
}
.action-submit__button:hover {
  background: #8ece35;
}
.action-submit__button:active {
  background: #7eb72d;
}
.action-submit__button:disabled {
  background: #d3d3d3;
  cursor: default;
  pointer-events: none;
}
.action-submit__icon:before {
  position: relative;
  top: -2px;
  right: 3px;
}
.action-submit:after {
  content: "";
  display: table;
  clear: both;
}
.ad-container {
  max-width: 1000px;
  margin: 0 auto;
}
.ssr {
  margin: 0 0 50px 0;
}
.ssr-header {
  padding: 10px;
  text-align: center;
  background-color: #006eb9;
  color: #fff;
}
.ssr-header__desc {
  margin: 0;
}
.ssr-instruction {
  padding: 10px;
}
.ssr-options {
  padding: 0 15px;
}
.ssr-options__cont {
  text-align: center;
  position: relative;
  padding: 0 5px;
}
.ssr-options__cont.col5 {
  width: 20%;
}
.ssr-options__contentEditable {
  position: relative;
  border: 1px solid #6d747e;
  padding: 5px 0;
  margin: 5px 0;
}
.ssr-options .ssr-option__radio {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 4px solid #87c530;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
.ssr-options .ssr-option__radio.selected:before {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #87c530;
  position: absolute;
  border-radius: 50%;
  left: 11%;
  top: 11%;
}
.ssr-options .ssr-option__closeBtnWrapper {
  position: absolute;
  right: 3px;
  top: -3px;
  cursor: pointer;
}
.ssr-options .ssr-option__titleEditable {
  margin: 15px 10px 0;
}
.ssr-options .ssr-option__valueEditable {
  margin: 5px 10px 5px;
}
.ssr-addOptionWrapper {
  margin: 15px 0;
}
.ssr-addOptionWrapper__input {
  display: inline-block;
  width: 30%;
}
.ssr-addOptionWrapper__inputValue {
  width: 20%;
}
.ssr-updateWrapper {
  margin: 15px 0;
  text-align: center;
}
.info-header__main {
  background: #006eb9;
  color: #fff;
  margin: 0 0 30px 0;
  text-align: center;
  padding: 10px 0px 1px 0px;
}
.info-header__title {
  font-size: 1.5em;
}
.info-section {
  max-width: 80%;
}
.info-instructions {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background: #4d4d4d;
}
.info-instructions p {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  margin: 0 auto;
}
.info-article {
  background-color: #fff;
}
.info-content__paragraph {
  margin: 0 0 20px 0;
  word-break: break-word;
}
.info-content__list {
  margin: 0 0 20px 0;
}
.info-saveBtnWrapper {
  text-align: center;
  margin: 15px 0;
}
.img-responsive {
  width: 100%;
  margin: 1px;
}
[lang='Korean'] .info-content__paragraph {
  word-break: keep-all;
}
.navigation {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 15px;
  overflow: hidden;
}
.navigation-button {
  background: #87c530;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  outline: 0;
  text-align: center;
  min-width: 96px;
  padding: 0 15px;
  border-radius: 5px;
  float: right;
}
.navigation-button:hover {
  background: #8ece35;
}
.navigation-button:active {
  background: #7eb72d;
}
.navigation-button:disabled {
  background: #d3d3d3;
  cursor: default;
  pointer-events: none;
}
.navigation-hide {
  display: none;
}
.navigation-disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.stackchart-header__main {
  background: #006eb9;
  color: #fff;
  margin: 0 0 30px 0;
  text-align: center;
  padding: 10px 0px 1px 0px;
}
.stackchart-header__title {
  font-size: 1.5em;
}
.barchart-header__main {
  background: #006eb9;
  color: #fff;
  margin: 0 0 30px 0;
  text-align: center;
  padding: 10px 0px 1px 0px;
}
.barchart-header__title {
  font-size: 1.5em;
}
.piechart-header__main {
  background: #006eb9;
  color: #fff;
  margin: 0 0 30px 0;
  text-align: center;
  padding: 10px 0px 1px 0px;
}
.piechart-header__title {
  font-size: 1.5em;
}
.columnchart-header__main {
  background: #006eb9;
  color: #fff;
  margin: 0 0 30px 0;
  text-align: center;
  padding: 10px 0px 1px 0px;
}
.columnchart-header__title {
  font-size: 1.5em;
}
.inbox {
  height: 100%;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.inbox-header__main {
  height: 55px;
  overflow: hidden;
  padding: 10px 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inbox-header__main {
    height: 50px;
  }
}
.inbox-header__main .icon {
  float: left;
  margin: 0 10px 0 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inbox-header__main .icon {
    margin: 4px 10px 0 0;
  }
}
.inbox-header__main .icon:before {
  font-size: 1.625em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inbox-header__main .icon:before {
    font-size: 1.5em;
  }
}
.inbox-header__title {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inbox-header__title {
    font-size: 1.125em;
    margin-top: 5px;
  }
}
.inbox-header__leftPanel {
  float: left;
  width: 40%;
  color: #434951;
}
.inbox-header__filters {
  float: right;
  display: flex;
  background: inherit;
  justify-content: center;
  border-radius: 7px;
  height: 30px;
  cursor: pointer;
  line-height: 29px;
  border: 1px solid #ccc;
  font-size: 0.875em;
}
.inbox-filter {
  width: 100px;
  text-align: center;
}
.inbox-filter--selected {
  color: #fff;
  border-radius: 7px;
  background-color: #6d747e;
}
.inbox-section {
  box-shadow: 0px 5px 25px linear-gradient(180deg, #e8e8e8 0%, #e8e8e8 2%, #fff 32%, #fff 100%);
  border: 1px solid #4b65a7;
  background: #fff;
  display: flex;
  height: calc(100% - 55px);
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .inbox-section {
    height: calc(100% - 50px);
  }
}
.inbox-instructions {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background: #4d4d4d;
}
.inbox-instructions p {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  margin: 0 auto;
}
.inbox-mails {
  display: flex;
  background-color: #dcedf9;
  padding: 10px;
  position: relative;
  color: #434951;
  cursor: pointer;
}
.inbox-mails:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a2ccea;
  transition: opacity 0.5s ease-out;
  opacity: 0;
}
.inbox-mails:hover:after {
  opacity: 1;
}
.inbox-mails__mailsCont {
  overflow-y: auto;
  max-height: calc(100% - 30px);
}
.inbox-mails__mailsCont--ie {
  max-height: 95%;
}
.inbox-mails__cont {
  width: 100%;
}
.inbox-mails__header {
  display: flex;
  background-color: #a8adb4;
  color: #fff;
  padding: 5px 10px;
}
.inbox-mails--hidden {
  display: none;
}
.inbox-mails--read {
  background-image: linear-gradient(180deg, #fff 41%, #fff 100%);
  color: #6d747e;
}
.inbox-mails--read:after {
  background-image: linear-gradient(180deg, #333 41%, #333 100%);
  opacity: 0;
}
.inbox-mails--read:hover:after {
  opacity: 0.2;
}
.inbox-mail {
  cursor: pointer;
  width: 100%;
  position: relative;
  z-index: 1;
  font-size: 0.875em;
  font-weight: bold;
}
.inbox-mail__date,
.inbox-mail__subject,
.inbox-mail__from {
  float: left;
}
.inbox-mail__date {
  width: calc(30% - 20px);
}
.inbox-mail__date:first-child {
  width: 30%;
}
.inbox-mail__subject {
  width: 50%;
}
.inbox-mail__from {
  width: 20%;
}
.inbox-mail__header {
  width: 100%;
  font-size: 0.875em;
}
.inbox-mail__header .inbox-mail__date {
  width: 30%;
}
.inbox-mail--unread {
  width: 10px;
  height: 10px;
  content: '';
  position: relative;
  background-color: #fe6f1a;
  border-radius: 50%;
  float: left;
  margin: 6px 10px 0 0;
}
.pa-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.pa-popup.hidden {
  display: none;
}
.pa-popup__cont {
  display: flex !important;
  transition: 0.5s ease;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.pa-popup__cont.timeup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000000;
}
.pa-popup__content {
  width: 100%;
  border: none;
  z-index: 2;
  backface-visibility: hidden;
  position: absolute;
  top: 20%;
  left: 0px;
  right: 0px;
}
.pa-popup__content.timeup {
  top: 0;
  height: 100%;
}
.pa-popup__content.timeup .pa-popup__body {
  max-height: 100%;
}
.pa-popup__usercontent {
  background-color: #047fc5;
  color: #fff;
  transform: rotateY(180deg);
  z-index: 1;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  top: 20%;
  left: 0px;
  right: 0px;
}
.pa-popup__iframe {
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: none;
  margin: 5px 5px 0 5px;
  padding: 0;
}
.pa-popup__dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  position: relative;
  transform-style: preserve-3d;
}
.pa-popup__rotateModal {
  transform: rotateY(180deg);
  transition: transform 0.6s;
}
.pa-popup__rotateModalBack {
  transform: rotateY(0deg);
  transition: transform 0.6s;
}
.pa-popup__header {
  display: none;
  background-color: #87c530;
  padding: 0;
  font-size: 1.25em;
  color: #fff;
  width: 100%;
  margin: -1px 0;
}
.pa-popup__body {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.pa-popup__footer {
  padding: 8px 15px;
}
.pa-popup__title {
  width: calc(100% - 60px);
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}
.pa-popup__titleWithSpacing {
  margin-bottom: 10px;
}
.pa-popup__back {
  display: none;
}
.pa-popup__back,
.pa-popup__close {
  width: 48px;
  height: 48px;
  background-color: #87c530;
  border: none;
  margin: 0;
  color: #fff;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  opacity: 1;
  cursor: pointer;
}
.pa-popup__close {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  right: -20px;
  top: -20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  color: #333;
  border: 1px solid #333;
}
.pa-popup__close .icon:before {
  font-size: 1.188em;
}
.pa-popup-size__viewOnline {
  height: 95%;
  width: 800px;
}
.pa-popup-size__viewVideo {
  width: 40%;
  height: 58%;
}
.pa-popup-size__aboutCoach {
  width: 35%;
  height: 75%;
}
.pa-popup-size__editProfile {
  width: 60%;
}
.pa-popup-size__webRTC {
  width: 60%;
}
.pa-popup-size__webRTC--full {
  width: 100% !important;
  height: 100vh !important;
}
.pa-popup-size__myObjectives {
  width: 50%;
  height: 95%;
}
.pa-popup-size__contactUs {
  width: 60%;
  height: 80%;
}
.pa-popup-size__bookSession {
  width: 490px;
  min-height: 180px;
  max-height: 70%;
}
.pa-popup-size__noPathways {
  width: 600px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pa-popup-size__videoCall {
  width: 60%;
  height: 80%;
}
@media screen and (max-width: 767px) {
  .pa-popup-size__videoCall {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .pa-popup-size__videoCall {
    width: 75%;
  }
}
.video {
  padding: 0;
}
.video-header {
  text-align: center;
}
.video-header__title {
  cursor: default;
  font-size: 2.188em;
  font-weight: 600;
  text-align: center;
}
.video-header__description {
  font-size: 1.125em;
  text-align: center;
}
.video-section {
  max-width: 80%;
}
.video-instructions {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background: #4d4d4d;
}
.video-instructions p {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  margin: 0 auto;
}
.video-article {
  background-color: #fff;
}
.video-content__mainWrapper {
  position: relative;
  overflow-x: hidden;
}
.video-content__paragraph {
  margin: 0 0 20px 0;
}
.video-content__list {
  margin: 0 0 20px 0;
}
.video-content__videoTag {
  width: 100%;
  background: #000;
  border: 3px solid #047fc5;
}
.video-saveBtnWrapper {
  text-align: center;
  margin: 15px 0;
}
.video-transcriptsIcon {
  width: 45px;
  text-align: center;
  padding: 9px;
  border-radius: 100%;
  float: right;
  height: 45px;
  margin-right: 50px;
  position: absolute;
  top: 25px;
  right: 0;
}
.video-transcriptsIcon--dark {
  background: #434951;
}
.video-transcriptsIcon--dark i {
  color: #fff;
  cursor: pointer;
  font-size: 1.25em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .video-transcriptsIcon--dark i:before {
    position: relative;
    top: 4px;
  }
}
.video-transcriptsIcon--light {
  background: #f2f2f2;
}
.video-transcriptsIcon--light i {
  color: #6d747e;
  cursor: pointer;
  font-size: 1.25em;
  line-height: 1.4;
}
.video-transcriptsCont {
  position: absolute;
  top: 4px;
  color: #fff;
  right: 4px;
  height: 80%;
  width: 40%;
  background: #434951;
  padding: 20px;
  opacity: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .video-transcriptsCont {
    height: 85%;
  }
}
.video-transcriptsCont__hideTranscript {
  opacity: 0;
  animation: slide-right 0.6s ease-out;
  -webkit-animation: slide-right 0.6s ease-out;
  -moz-animation: slide-right 0.6s ease-out;
}
.video-transcriptsCont__showTranscript {
  opacity: 0.9;
  animation: slide-left 0.6s ease-out;
  -webkit-animation: slide-left 0.6s ease-out;
  -moz-animation: slide-left 0.6s ease-out;
}
.video-transcriptsModal {
  margin-top: 25px;
  text-align: justify;
}
.video-transcriptsModal--title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 600;
}
.video-transcriptsModal--text {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 285px;
  padding-right: 10px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .video-transcriptsModal--text {
    max-height: 293px;
  }
}
@media screen and (max-width: 768px) {
  .video-transcriptsModal--text {
    max-height: 250px;
  }
}
.video-button {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 60px;
  line-height: 60px;
  font-size: 1em;
  background: linear-gradient(180deg, #047fc5 41%, #1428a0 100%);
  margin: -6px 0 0 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.video-button:hover {
  background: linear-gradient(180deg, #246dad 0%, #246dad 0%, #23569d 100%, #23569d 100%);
}
.video-button .icon {
  margin: 0 0 0 7px;
}
.video-button .icon:before {
  position: relative;
  top: -2px;
  right: 3px;
}
.video-button.disabled {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
  color: #fff;
  cursor: default;
}
.video-button.disabled:hover {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
}
.video-button__text {
  text-transform: uppercase;
}
@-moz-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slide-right {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@-webkit-keyframes slide-right {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@-o-keyframes slide-right {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
.image {
  padding: 0;
}
.image-header__title {
  cursor: default;
  font-size: 2.188em;
  font-weight: 600;
  margin: 10px 0;
  text-align: center;
}
.image-header__description {
  text-align: center;
  font-size: 1.125em;
}
.image-section {
  max-width: 80%;
}
.image-instructions {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background: #4d4d4d;
}
.image-instructions p {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  margin: 0 auto;
}
.image-article {
  background-color: #fff;
}
.image-content__mainWrapper {
  position: relative;
  overflow-x: hidden;
}
.image-content__paragraph {
  margin: 0 0 20px 0;
}
.image-content__list {
  margin: 0 0 20px 0;
}
.image-content__imageTag {
  width: 100%;
  border-bottom: none;
  height: 400px;
}
.image-content__audioTag audio {
  width: 100%;
}
.image-saveBtnWrapper {
  text-align: center;
  margin: 15px 0;
}
.image-saveBtnWrapperModal {
  margin-top: 25px;
  text-align: justify;
}
.image-saveBtnWrapperModal--title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 600;
}
.image-saveBtnWrapperModal--text {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 285px;
  padding-right: 10px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .image-saveBtnWrapperModal--text {
    max-height: 293px;
  }
}
@media screen and (max-width: 768px) {
  .image-saveBtnWrapperModal--text {
    max-height: 250px;
  }
}
.image-transcriptsIcon {
  width: 40px;
  text-align: center;
  padding: 9px;
  border-radius: 100%;
  float: right;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 20px;
}
.image-transcriptsIcon--dark {
  background: #434951;
}
.image-transcriptsIcon--dark i {
  color: #fff;
  cursor: pointer;
  font-size: 1.125em;
}
.image-transcriptsIcon--light {
  background: #f2f2f2;
}
.image-transcriptsIcon--light i {
  color: #6d747e;
  cursor: pointer;
  font-size: 1.188em;
}
.image-transcriptsIcon--light i:before {
  position: relative;
  top: -1px;
}
.image-transcriptsCont {
  position: absolute;
  top: 0;
  color: #fff;
  right: 0;
  height: 100%;
  width: 40%;
  background: #434951;
  padding: 20px 5px 5px 20px;
  opacity: 0;
}
.image-transcriptsCont__hideTranscript {
  opacity: 0;
  animation: slide-right 0.6s ease-out;
  -webkit-animation: slide-right 0.6s ease-out;
  -moz-animation: slide-right 0.6s ease-out;
}
.image-transcriptsCont__showTranscript {
  opacity: 0.9;
  animation: slide-left 0.6s ease-out;
  -webkit-animation: slide-left 0.6s ease-out;
  -moz-animation: slide-left 0.6s ease-out;
}
.image-transcriptsModal {
  height: 100%;
  padding: 40px 0 0 0;
  text-align: left;
}
.image-transcriptsModal--text {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
  padding-right: 10px;
}
.image-button {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  background: linear-gradient(180deg, #047fc5 41%, #1428a0 100%);
  margin: -6px 0 0 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.image-button:hover {
  background: linear-gradient(180deg, #246dad 0%, #246dad 0%, #23569d 100%, #23569d 100%);
}
.image-button .icon {
  margin: 0 0 0 7px;
}
.image-button.disabled {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
  color: #fff;
  cursor: default;
}
.image-button.disabled:hover {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
}
.image-button__text {
  text-transform: uppercase;
}
@-moz-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slide-right {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@-webkit-keyframes slide-right {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@-o-keyframes slide-right {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
.inbox-reply__remainingChars {
  text-align: right;
  font-size: 14px;
}
.inbox-reply__cont {
  color: #6d747e;
}
.inbox-reply__header {
  overflow: hidden;
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}
.inbox-reply__image {
  width: 12%;
  float: left;
}
.inbox-reply__image img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.inbox-reply__subjectCont {
  width: 83%;
  float: left;
  margin: 13px 0 0 0;
}
.inbox-reply__icon {
  width: 5%;
  float: left;
  margin: 20px 0 0 0;
}
.inbox-reply__icon .icon:before {
  font-size: 1.875em;
  color: #047fc5;
}
.inbox-reply__content {
  padding: 35px 100px;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(180deg, #e8e8e8 0%, #e8e8e8 2%, #fff 32%, #fff 100%);
}
.inbox-reply__reply {
  padding: 20px 100px;
}
.inbox-reply__noReply {
  border-bottom: none;
}
.inbox-reply__instructions {
  width: 95%;
  float: left;
  margin: 7px 0 0 0;
}
.inbox-reply__instructionsCont {
  padding: 0 0 20px 0;
  overflow: hidden;
}
.inbox-reply__instructions img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}
.inbox-reply__instructions span:first-of-type {
  color: #047fc5;
}
.inbox-reply__instructions span:last-child {
  background-color: #f2f2f2;
  padding: 5px 10px;
  margin: 0 0 0 10px;
}
.inbox-reply__textArea {
  width: 100%;
  height: 125px;
  resize: none;
  padding: 10px;
  background-color: #f2f2f2;
  border: none;
  color: #6d747e;
  overflow: auto;
}
.inbox-reply__submitButton,
.inbox-reply__closeButton,
.inbox-reply__continueButton {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 60px;
  line-height: 60px;
  font-size: 1em;
  background: linear-gradient(180deg, #047fc5 41%, #1428a0 100%);
  margin: 10px 0 0 0;
}
.inbox-reply__submitButton:hover,
.inbox-reply__closeButton:hover,
.inbox-reply__continueButton:hover {
  background: linear-gradient(180deg, #246dad 0%, #246dad 0%, #23569d 100%, #23569d 100%);
}
.inbox-reply__submitButton .icon,
.inbox-reply__closeButton .icon,
.inbox-reply__continueButton .icon {
  margin: 0 0 0 7px;
}
.inbox-reply__submitButton.disabled,
.inbox-reply__closeButton.disabled,
.inbox-reply__continueButton.disabled {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
  color: #fff;
  cursor: default;
}
.inbox-reply__submitButton.disabled:hover,
.inbox-reply__closeButton.disabled:hover,
.inbox-reply__continueButton.disabled:hover {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
}
.inbox-reply__closeButton,
.inbox-reply__continueButton {
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.inbox-reply__closeButton .icon:before,
.inbox-reply__continueButton .icon:before {
  position: relative;
  top: -2px;
  right: 3px;
}
[lang="Korean"] .inbox-reply__textArea,
[lang="Korean"] .inbox-reply__content {
  word-break: keep-all;
}
* {
  box-sizing: border-box;
}
.slider {
  width: 90%;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}
.slider >a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider >a:active {
  top: 1px;
}
.slider >a:focus {
  background: #333;
}
.slider:before {
  display: none;
}
.slides {
  display: flex;
  overflow-x: hidden;
  border-radius: 5px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides >div {
  flex-shrink: 0;
  width: 100%;
  border-radius: 10px;
  transform-origin: center center;
  transition: transform 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.slides >div >h6 {
  color: #333;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 25px;
  word-break: break-word;
}
.ssc-main-container {
  width: 100%;
}
.ssc-container.container {
  position: relative;
  background: #fff;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}
.ssc-container.container >.header {
  flex-direction: column;
  padding: 1.2rem;
  color: #fff;
  text-align: center;
  background: #2e598d;
  font-size: 1.125em;
  font-weight: normal;
}
.ssc-container.container >.header>div:nth-child(1) {
  font-weight: normal;
}
.ssc-container.container >.header>div:nth-child(2) {
  font-weight: bold;
}
.options {
  font-size: 0.875em;
  display: flex;
  justify-content: space-around;
  color: #6d747e;
  margin-top: 2rem;
}
.options .option.selected {
  color: #047fc5;
  font-weight: bold;
}
.options > * {
  cursor: pointer;
}
.option-cont {
  width: 100%;
}
.option-title {
  flex: 1;
  word-wrap: break-word;
}
.option-answer {
  flex: 1;
}
.radiobtn {
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid #047fc5;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 0.7rem;
}
.navigation-btn {
  margin: 1rem 0 3rem 0;
}
.navigation-btn .question-progress {
  font-size: 0.875em;
  color: #a8adb4;
}
.navigation-btn .icon {
  margin: 0 0 0 7px;
}
.navigation-btn:hover > i {
  color: #fff;
}
.navigation-btnhover {
  background: #047fc5;
  color: #fff;
}
.navigation-btn:active {
  box-shadow: unset;
}
.radiobtn.selected:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #047fc5;
  border-radius: 50px;
}
.radiobtn.selected {
  background: #047fc5;
}
.submit-btn {
  color: #fff;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 60px;
  line-height: 60px;
  font-size: 1em;
  background: linear-gradient(180deg, #047fc5 41%, #1428a0 100%);
  margin: 10px 0 0 0;
}
.submit-btn:hover {
  background: linear-gradient(180deg, #246dad 0%, #246dad 0%, #23569d 100%, #23569d 100%);
}
.submit-btn.disabled {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
  color: #fff;
  cursor: default;
}
.submit-btn.disabled:hover {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
}
.submit-btn .icon {
  margin: 0 0 0 7px;
}
.submit-btn .icon:before {
  position: relative;
  top: -2px;
  right: 3px;
}
.submit-btn-show {
  opacity: 1;
  visibility: visible;
  transition: 1s ease-in-out;
}
.previous-button a,
.next-button a {
  pointer-events: none;
}
.previous-button a button,
.next-button a button {
  cursor: pointer;
  font-size: 0.875em;
  color: #6d747e;
  font-weight: 300;
}
.previous-button a.enabled,
.next-button a.enabled {
  pointer-events: initial;
}
.previous-button a.enabled button,
.next-button a.enabled button {
  background: #047fc5;
  color: #fff;
}
.previous-button .icon {
  margin: 0 0.4rem 0 0;
}
.next-button .icon {
  margin: 0 0 0 0.4rem;
}
.progress {
  clear: both;
  background-color: #e6e6e6;
  height: 11px;
  border-radius: unset !important;
}
.progress-bar {
  background-color: #1428a0;
  color: transparent;
}
.progress-container {
  width: 90%;
}
.progress-header {
  color: #6d747e;
  font-size: 0.875em;
  font-weight: normal;
  float: left;
}
.progress-number {
  color: #6d747e;
  float: left;
  font-size: 0.875em;
  margin: 0 0 0 8px;
}
.timer {
  position: relative;
  top: -5px;
}
.timer-timerText {
  color: #6d747e;
  font-size: 0.875em;
  font-weight: normal;
}
.timer-timerText__value {
  font-size: 1.125em;
  font-weight: bold;
  line-height: 0;
}
.bulletin {
  height: 20%;
  background: #fff;
  width: 85%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000000;
}
@media screen and (min-width: 768px) and (max-width: 1204px) {
  .bulletin {
    width: 94%;
  }
}
.bulletin-header__main {
  background: linear-gradient(90deg, #434951 0%, #fabf6e 0%, #ff5941 92%);
  color: #fff;
  padding: 5px 0px 1px 0px;
}
.bulletin-header__icon {
  margin: 0 12px 0 15px;
  padding-top: 0.1rem;
  font-size: 1.5em;
}
.bulletin-header__title {
  font-size: 1.438em;
  font-weight: normal;
}
.bulletin-section {
  font-size: 0.813em;
  min-height: 100%;
}
.bulletin-mails__cont {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0px;
  justify-content: flex-start;
}
.bulletin-news {
  padding: 5px 0px 0px 15px;
  min-width: 100%;
  border-radius: 10px;
  transform-origin: center center;
  transition: transform 0.5s;
  position: relative;
  overflow: hidden;
}
.bulletin-news__logo {
  border: 2px solid #6d747e;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.bulletin-news__logo img {
  width: 100%;
}
.bulletin-news__message {
  color: #6d747e;
  width: calc(100% - 2.5rem);
  padding: 0px 10px;
}
.bulletin-employee {
  padding: 0;
}
.bulletin-employee__profile {
  padding: 0;
  background: #e6e6e6;
}
.bulletin-employee__profile-label {
  color: #6d747e;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  cursor: pointer;
}
.bulletin-employee__profile-label > div > .icon {
  transition: all 0.5s linear;
}
.bulletin-employee__profile-label > div > .arrowUp {
  transform: rotate(180deg);
}
.bulletin-employee__profile-label > div > .arrowDown {
  transform: rotate(0deg);
  margin: 5px 0 0 0;
}
.bulletin-employee__profile-items {
  color: #047fc5;
  overflow-y: auto !important;
  max-height: 79px !important;
  overflow: hidden;
}
.bulletin-employee__profile-items height ul {
  list-style: none;
}
.bulletin-employee__profile-items ul {
  padding: 5px 0 0 40px;
}
.bulletin-employee__profile-items li {
  cursor: pointer;
  list-style: none;
}
.fade-in-out {
  -webkit-animation: fadeinout 2s linear;
  animation: fadeinout 2s linear;
}
@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.userprofile {
  padding: 20px;
  min-height: 23rem;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
}
.userprofile-des {
  position: absolute;
  right: 0;
  top: 0;
  width: 53%;
  min-height: 100%;
  background: #fff;
  padding: 3rem 4rem 0rem 1.5rem;
  color: #6d747e;
}
.userprofile-btn {
  background: linear-gradient(180deg, #047fc5 41%, #1428a0 100%);
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.userprofile-btn:hover {
  background: linear-gradient(180deg, #246dad 0%, #246dad 0%, #23569d 100%, #23569d 100%);
}
.userprofile-close {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 60px;
  line-height: 60px;
  font-size: 1em;
  background: linear-gradient(180deg, #047fc5 41%, #1428a0 100%);
  margin: 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.userprofile-close:hover {
  background: linear-gradient(180deg, #246dad 0%, #246dad 0%, #23569d 100%, #23569d 100%);
}
.userprofile-close .icon {
  margin: 0 0 0 7px;
}
.userprofile-close .icon:before {
  position: relative;
  top: -2px;
  right: 3px;
}
.userprofile-close.disabled {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
  color: #fff;
  cursor: default;
}
.userprofile-close.disabled:hover {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
}
.activity {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.activity-section-container {
  box-shadow: 0px 5px 25px linear-gradient(180deg, #e8e8e8 0%, #e8e8e8 2%, #fff 32%, #fff 100%);
  border: 1px solid #4b65a7;
  height: calc(100% - 55px);
  background: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-section-container {
    height: calc(100% - 50px);
  }
}
.activity-section-container > .no-activity {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #6d747e;
  font-size: 1.313em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-section-container > .no-activity {
    font-size: 1em;
  }
}
.activity-header {
  height: 55px;
  margin: 0;
  position: relative;
  padding: 10px 0;
  z-index: 1;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-header {
    height: 50px;
  }
}
.activity-header__title {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-header__title {
    font-size: 1.125em;
  }
}
.activity-header__leftPanel {
  color: #434951;
  float: left;
  width: 60%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-header__leftPanel {
    margin-top: 5px;
  }
}
.activity-header__leftPanel .icon {
  float: left;
  margin: 0 10px 0 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-header__leftPanel .icon {
    margin: -2px 10px 0 0;
  }
}
.activity-header__leftPanel .icon:before {
  font-size: 1.625em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-header__leftPanel .icon:before {
    font-size: 1.5em;
  }
}
.activity-header-btn-section {
  position: absolute;
  right: 0;
  bottom: 0;
}
.activity-header-btn-section-call-btn {
  background: #6d747e;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  margin: 0px 0px 18px 6px;
  cursor: pointer;
  display: flex;
  width: 35px;
  height: 35px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-header-btn-section-call-btn {
    width: 35px;
    height: 35px;
    margin: 0px 0px 8px 10px;
  }
}
.activity-header-btn-section-call-btn__speechIcon:before {
  font-size: 1.25em;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-header-btn-section-call-btn__speechIcon:before {
    left: 1px;
    top: 0;
  }
}
.activity-header-btn-section-call-btn__videoIcon:before {
  font-size: 1.25em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .activity-header-btn-section-call-btn__videoIcon:before {
    font-size: 1.25em;
  }
}
.activity-header-btn-section-call-header {
  color: #4b65a7;
}
.activity-header-btn-section-call-header-icon {
  margin-right: 10px;
  font-size: 1.563em;
}
.activity-header-btn-section-call-header-text {
  font-weight: 100;
}
.activity-video-section {
  height: 100%;
}
.activity-video-section-call {
  background: #2e598d;
  color: #fff;
  padding: 10px !important;
}
.activity-video-section-call-icon {
  font-size: 1.5em;
  margin-right: 0.6rem;
}
.activity-video-section-call-list {
  padding: 0.6rem 1.8rem;
  background: linear-gradient(#e8e8e8, #fff);
  color: #6d747e;
  display: none !important;
}
.activity-video-section-call-list > .active-filter-status {
  font-size: 0.938em;
}
.activity-video-section-call-list-filter {
  display: none;
  font-size: 0.813em;
  position: absolute;
  right: 1rem;
  z-index: 1;
}
.activity-video-section-call-list-filter > div > div >.toggleIcon {
  padding: 6px;
  font-size: 0.5em;
  border-radius: 5px 5px 1px 1px;
  transition: 0.5 ease;
}
.activity-video-section-call-list-filter > div > div >.arrow-up {
  background: #047fc5;
  color: #fff;
}
.activity-video-section-call-list-filter .filter-menu {
  border: 1px solid #ccc;
  background: #fff;
}
.activity-video-section-call-list-filter .filter-menu > ul {
  list-style: none;
  padding: 0px;
}
.activity-video-section-call-list-filter .filter-menu > ul li {
  cursor: pointer;
  padding: 2px 52px 0 17px;
}
.activity-video-section-call-caller-container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  height: calc(100% - 95px);
  overflow-y: scroll;
}
.activity-video-section-call-caller-container > .caller {
  margin: 0px;
  border-bottom: 1px solid #ccc;
  padding: 0.8rem 0px 0.5rem 0px;
}
.activity-video-section-call-caller-container > .caller > .profilePic {
  padding-left: 0;
}
.activity-video-section-call-caller-container > .caller > .profilePic > img {
  border: 0.3rem solid #f2f2f2;
  border-radius: 48px;
  width: 3.5rem;
  height: 3.5rem;
}
.activity-video-section-call-caller-container > .caller > .profileCallIcon {
  cursor: pointer;
}
.activity-video-section-call-caller-container > .caller > .profileName {
  padding-left: 0;
  font-size: 0.813em;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  .activity-video-section-call-caller-container > .caller > .profileName {
    padding: 0 0 0 15px;
  }
}
.activity-video-section-call-caller-container > .caller > .profileCallIcon > i {
  border: 1px solid #ccc;
  padding: 0.8rem;
  border-radius: 6rem;
  background: #fff;
  box-shadow: 0px 0px 17px 3px #ccc;
}
.activity-chat-section {
  height: 100%;
}
.activity-chat-section-call {
  color: #fff;
  background: #2e598d;
}
.activity-chat-section-call-icon {
  margin-right: 0.6rem;
  font-size: 1.625em;
  line-height: 0;
}
.activity-chat-section-call-profile {
  position: relative;
  min-width: 100px;
  max-width: 100px;
}
.activity-chat-section-call-list {
  background: #f2f2f2;
  padding-left: 5px;
  overflow-x: auto;
  max-width: 100%;
}
.activity-chat-section-call-list::-webkit-scrollbar {
  height: 8px;
}
.activity-chat-section-call-listCont {
  display: flex;
  min-width: 100%;
  width: fit-content;
  flex-direction: row;
}
.activity-chat-section-call-listCont > .profile {
  text-align: center;
  cursor: pointer;
  margin: 6px 2px 0px 13px;
}
.activity-chat-section-call-listCont > .profile-active {
  border-bottom: 4px solid #fe6f1a;
}
.activity-chat-section-call-listCont > .profile > .image {
  position: relative;
}
.activity-chat-section-call-listCont > .profile > .image > img {
  border-radius: 50%;
  width: 39px;
  height: 36px;
}
.activity-chat-section-call-listCont > .profile > .image > span.chat-count {
  background: #64686c;
  font-size: 0.625em;
  color: #fff;
  border-radius: 50%;
  padding: 1px 4px;
  position: absolute;
  left: 1.1rem;
  top: 0.5rem;
  width: 18px;
  height: 18px;
}
.activity-chat-section-call-listCont > .profile > .name {
  font-size: 0.75em;
  font-weight: bold;
  padding: 0;
}
.activity-chat-section-call-caller-container {
  background: linear-gradient(#e8e8e8, #fff 30%);
  overflow-y: auto;
  max-height: calc(100% - 150px);
  height: 100%;
}
.activity-chat-section-call-caller-container > div {
  padding: 10px 0 0 0;
}
.activity-chat-section-call-caller-container > div:before {
  content: '';
  display: table;
  clear: both;
}
.activity-chat-section-call-caller-container > div > .caller {
  margin-top: 1rem;
  margin-left: 1rem;
}
.activity-chat-section-call-caller-container > div > .caller > .caller-profile {
  font-size: 0.75em;
  position: relative;
}
.activity-chat-section-call-caller-container > div > .caller > .caller-profile > span.name {
  margin-left: 8px;
  color: #a8adb4;
  position: absolute;
}
.activity-chat-section-call-caller-container > div > .caller > .caller-profile > img {
  border-radius: 50%;
  width: 39px;
  height: 36px;
}
.activity-chat-section-call-caller-container > div > .caller > .caller-text {
  width: 73%;
  font-size: 0.938em;
  background: #f2f2f2;
  color: #64686c;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  margin-left: 3rem;
  position: relative;
  z-index: 7;
  top: -11px;
  word-break: break-word;
  white-space: normal;
}
.activity-chat-section-call-caller-container > div > .caller > .caller-text::before {
  content: ' ';
  width: 16px;
  height: 19px;
  position: absolute;
  border: 32px solid;
  border-color: #f2f2f2 transparent transparent transparent;
  left: -10px;
  top: 0px;
  z-index: -1;
}
.activity-chat-section-call-caller-container > div > .user-text {
  width: 73%;
  font-size: 0.938em;
  background: #feecd1;
  color: #64686c;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  margin: 0 25px 0 0;
  word-wrap: break-word;
  white-space: normal;
  float: right;
}
.activity-chat-section-call-caller-container > div > .user-text::before {
  content: ' ';
  width: 16px;
  height: 19px;
  position: absolute;
  border: 32px solid;
  border-color: #feecd1 transparent transparent transparent;
  right: -8px;
  top: 0;
  z-index: -1;
}
[lang='Korean'] .activity-chat-section-call-caller-container > div > .caller > .caller-text {
  word-break: keep-all;
}
[lang='Korean'] .activity-chat-section-call-caller-container > div > .user-text {
  word-break: keep-all;
}
.calendar {
  padding: 0;
  width: 100%;
  height: 100%;
}
.calendar-header__main {
  height: 55px;
  padding: 10px 0;
  color: #434951;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .calendar-header__main {
    height: 50px;
  }
}
.calendar-header__main .icon {
  float: left;
  margin: 0 10px 0 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .calendar-header__main .icon {
    margin: 4px 10px 0 0;
  }
}
.calendar-header__main .icon:before {
  font-size: 1.625em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .calendar-header__main .icon:before {
    font-size: 1.5em;
  }
}
.calendar-header__title {
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .calendar-header__title {
    font-size: 1.125em;
    margin-top: 5px;
  }
}
.calendar-section {
  box-shadow: 0px 5px 25px linear-gradient(180deg, #e8e8e8 0%, #e8e8e8 2%, #fff 32%, #fff 100%);
  background: #fff;
  border: 1px solid #4b65a7;
  height: calc(100% - 55px);
  padding: 20px 0 20px 15px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .calendar-section {
    height: calc(100% - 50px);
  }
}
.calendar-timer {
  float: left;
  border: 2px solid #006eb9;
  border-radius: 5px;
  padding: 2px 4px;
  width: 70px;
  height: 30px;
  text-align: center;
  color: #006eb9;
  font-weight: bold;
}
.calendar-timer--complete {
  color: #fff;
  background-color: #006eb9;
}
.calendar-title {
  margin: 0px 15px;
  float: left;
  color: #6d747e;
  width: calc(100% - 100px);
}
.calendar-title:first-child {
  margin: 0;
}
.calendar-item {
  padding: 0 0 10px 0;
  overflow: hidden;
  font-size: 0.875em;
}
.calendar-items:before {
  display: table;
  content: '';
  clear: both;
}
.calendar-items--hidden {
  display: none;
}
.calendar-items__cont {
  max-height: 100%;
  overflow-y: auto;
}
.calendar-items__noItem {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #6d747e;
  font-size: 1.313em;
}
.chat {
  height: 700px;
  background: #fff;
  border: 1px solid #4b65a7;
  padding: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 105%;
}
.chat-header__main {
  background: #47358b;
  color: #fff;
  padding: 10px 0px 1px 20px;
}
.chat-header__main .icon {
  float: left;
  margin: 2px 15px 0 0;
}
.chat-header__main .icon:before {
  font-size: 1.5em;
}
.chat-header__title {
  font-size: 1.5em;
}
.chat-section {
  max-width: 80%;
}
.popalert {
  min-height: 10rem;
}
.popalert .row {
  position: relative;
  height: 100%;
  margin: 0;
  display: block;
}
.popalert-title {
  position: relative;
  text-align: center;
  padding: 30px 0 20px 0;
  color: #6d747e;
  margin-top: 48px;
}
.popalert-button {
  max-width: 38%;
  background: linear-gradient(180deg, #047fc5 41%, #1428a0 100%);
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.popalert-button:hover {
  background: linear-gradient(180deg, #246dad 0%, #246dad 0%, #23569d 100%, #23569d 100%);
}
.popalert-buttonText {
  font-size: 1.25em;
}
.popalert-button .icon:before {
  font-size: 1.125em;
  position: relative;
  top: -3px;
  left: 10px;
}
.popalert-button.disabled {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
  color: #fff;
  cursor: default;
}
.popalert-button.disabled:hover {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
}
.popalert-icon {
  width: 100px;
  height: 100px;
  border: 5px solid #006eb9;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  position: fixed;
  top: -75px;
  background: #fff;
  left: 0;
  right: 0;
}
.popalert-icon .icon:before {
  font-size: 3.438em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #006eb9;
}
.popalert-icon.isIE11Browser {
  top: -5px;
}
.menu-items__iconContainer {
  cursor: pointer;
  font-size: 1.25em;
  position: absolute;
  z-index: 3;
  width: 30px;
  text-align: center;
  right: 4%;
  color: #6d747e;
}
.menu-items__iconContainer .icon.ic_close-02:before {
  font-size: 1rem;
}
.menu-items__itemsContainer {
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(180deg, #e8e8e8 0%, #e8e8e8 2%, #fff 32%, #fff 100%);
  padding: 45px 40px 15px 20px;
  z-index: 2;
  box-shadow: -4px 6px 30px -5px #a8adb4;
  transform: translateX(100%);
}
.menu-items__itemsContainer--show {
  transform: translateX(0);
  -webkit-animation: slide-left-menu 0.6s ease-out;
  -moz-animation: slide-left-menu 0.6s ease-out;
  animation: slide-left-menu 0.6s ease-out;
}
.menu-items__itemsContainer--hide {
  transform: translateX(120%);
  -webkit-animation: slide-right-menu 0.6s ease-out;
  -moz-animation: slide-right-menu 0.6s ease-out;
  animation: slide-right-menu 0.6s ease-out;
}
.menu-items__item {
  margin: 7px 0;
  font-size: 1.188em;
  font-weight: 600;
  color: #6d747e;
  cursor: pointer;
}
.menu-items__item--icon,
.menu-items__item--text,
.menu-items__item--dropdown {
  display: inline-block;
}
.menu-items__item--icon {
  vertical-align: text-bottom;
  margin-right: 5px;
}
@media screen and (max-width: 1024px) {
  .menu-items__item--dropdown {
    max-width: 55%;
  }
}
.menu-items__item--dropdown .language {
  background-color: transparent;
  border: none;
  outline: none;
}
.menu-items__item--dropdown .language:focus {
  border: none;
  outline: none;
}
.menu-items__item--dropdown .language-value {
  background-color: #e6e6e6;
}
@-moz-keyframes slide-left-menu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-left-menu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes slide-left-menu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-left-menu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slide-right-menu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes slide-right-menu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-o-keyframes slide-right-menu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-right-menu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.user-chat__remainingChars {
  text-align: right;
  font-size: 14px;
}
.user-chat__cont {
  color: #6d747e;
}
.user-chat__header {
  overflow: hidden;
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.user-chat__image {
  width: 5rem;
  margin: 0 auto;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid #808080;
  display: flex;
}
.user-chat__image img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.user-chat__subjectCont {
  width: 83%;
  float: left;
  margin: 13px 0 0 0;
}
.user-chat__icon {
  margin: 20px 0 0 0;
  width: 5%;
}
.user-chat__icon .icon:before {
  font-size: 1.875em;
  color: #047fc5;
}
.user-chat-name {
  margin: 5px 0 0 0;
  font-weight: bold;
}
.user-chat__details {
  width: 90%;
  text-align: center;
}
.user-chat__content {
  padding: 35px 0px 60px 0px;
  background: linear-gradient(180deg, #e8e8e8 0%, #e8e8e8 2%, #fff 32%, #fff 100%);
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.user-chat__content-text {
  width: 50%;
  margin: 0 auto;
  padding: 11px 10px;
  text-align: justify;
  border-radius: 11px;
  box-shadow: -7px 8px 23px 1px #ccc;
  position: relative;
  z-index: 20;
  background: #f2f2f2;
}
.user-chat__content-text::before {
  content: ' ';
  width: 16px;
  height: 19px;
  position: absolute;
  border: 21px solid;
  border-color: transparent transparent transparent #f2f2f2;
  left: -2px;
  top: 7px;
  z-index: -1;
  transform: rotate(22deg);
}
.user-chat__noChat {
  border-bottom: none;
}
.user-chat__reply {
  padding: 8px 36px 2px 36px;
}
.user-chat__noReply {
  border-bottom: none;
}
.user-chat__instructions {
  width: 95%;
  float: left;
  margin: 7px 0 0 0;
  color: #047fc5;
}
.user-chat__instructionsCont {
  padding: 0 0 20px 0;
  overflow: hidden;
}
.user-chat__instructions img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}
.user-chat__instructions span:first-child:before {
  position: relative;
  top: -2px;
}
.user-chat__instructions span:last-child {
  font-weight: bold;
  text-transform: uppercase;
}
.user-chat__textArea {
  width: 100%;
  height: 144px;
  resize: none;
  padding: 10px;
  background-color: #f2f2f2;
  border: none;
  color: #6d747e;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.user-chat__submitButton,
.user-chat__closeButton,
.user-chat__continueButton {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 60px;
  line-height: 60px;
  font-size: 1em;
  background: linear-gradient(180deg, #047fc5 41%, #1428a0 100%);
  margin: 10px 0 0 0;
}
.user-chat__submitButton:hover,
.user-chat__closeButton:hover,
.user-chat__continueButton:hover {
  background: linear-gradient(180deg, #246dad 0%, #246dad 0%, #23569d 100%, #23569d 100%);
}
.user-chat__submitButton .icon,
.user-chat__closeButton .icon,
.user-chat__continueButton .icon {
  margin: 0 0 0 7px;
}
.user-chat__submitButton.disabled,
.user-chat__closeButton.disabled,
.user-chat__continueButton.disabled {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
  color: #fff;
  cursor: default;
}
.user-chat__submitButton.disabled:hover,
.user-chat__closeButton.disabled:hover,
.user-chat__continueButton.disabled:hover {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
}
.user-chat__closeButton,
.user-chat__continueButton {
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.user-chat__closeButton .icon:before,
.user-chat__continueButton .icon:before {
  position: relative;
  top: -2px;
  right: 3px;
}
[lang="Korean"] .user-chat__textArea {
  word-break: keep-all;
}
.timeup-cont {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: auto;
}
.timeup-container {
  padding: 40px;
  text-align: center;
  display: flex;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.timeup-title,
.timeup-subtitle {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 39px;
  text-align: left;
  color: #fff;
}
.timeup-subtitle {
  font-size: 32px;
}
.timeup-button {
  color: #fff;
  display: block;
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  margin: 0 auto;
  float: left;
  background: transparent;
  border: 5px solid #fff;
  border-radius: 30px;
  font-size: 21px;
  font-weight: 400;
}
.timeup-logo {
  position: relative;
}
.timeup-logo__cont {
  width: 30%;
  text-align: center;
  position: relative;
  height: 50%;
  float: left;
}
.timeup-content {
  width: 70%;
  padding: 0 35px;
  float: left;
}
.loaderContainer {
  background-color: #fff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 99999;
}
.loaderContainer-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loaderContainer-loader {
  border: 10px solid #d3d3d3;
  border-top: 10px solid #2e598d;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.activity-video-calling {
  display: flex;
  height: 100%;
  justify-content: center;
  background: linear-gradient(#e8e8e8 5%, #fff 100%, #f2f2f2 10%);
  align-items: center;
}
.activity-caller-box {
  text-align: center;
}
.activity-caller-box-text {
  font-size: 0.938em;
  text-align: center;
  color: #047fc5;
  margin: 18px;
}
.activity-caller-box-img {
  border: 7px solid #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 11px 3px #ccc;
  width: 150px;
  height: 150px;
  margin: auto;
}
.activity-caller-box-img > img {
  width: 100%;
}
.activity-caller-box-name {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  color: #64686c;
  margin-top: 10px;
}
.activity-caller-box-button {
  border-radius: 30px 30px;
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(180deg, #047fc5 41%, #1428a0 100%);
  padding: 13px;
  cursor: pointer;
  border: none;
  margin: 8px 0px 20px 0px;
}
.activity-caller-box-button:hover {
  background: linear-gradient(180deg, #246dad 0%, #246dad 0%, #23569d 100%, #23569d 100%);
}
.activity-caller-box-button > i {
  margin-left: 6px;
  margin-bottom: 3px;
}
.activity-caller-box-button.disabled {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
  color: #fff;
  cursor: default;
}
.activity-caller-box-button.disabled:hover {
  background: linear-gradient(180deg, #a8adb4 41%, #a8adb4 100%);
}
.downloadreport-cont {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: auto;
}
.downloadreport-container {
  padding: 40px;
  text-align: center;
  display: flex;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.downloadreport-title,
.downloadreport-subtitle {
  font-size: 48px;
  font-weight: 400;
  margin: 0 0 70px 0;
  text-align: left;
  color: #fff;
}
.downloadreport-title {
  margin: 0;
}
.downloadreport-subtitle {
  font-size: 32px;
}
.downloadreport-button {
  color: #fff;
  display: block;
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  margin: 0 auto;
  float: left;
  background: transparent;
  border: 5px solid #fff;
  border-radius: 30px;
  font-size: 21px;
  font-weight: 400;
  margin: 0 20px 0 0;
}
.downloadreport-button:hover {
  background: #fff;
  color: #047fc5;
}
.downloadreport-logo {
  position: relative;
}
.downloadreport-logo__cont {
  width: 30%;
  text-align: center;
  position: relative;
  height: 50%;
  float: left;
}
.downloadreport-content {
  width: 70%;
  padding: 0 35px;
  float: left;
}
@import url("./loader.css");
[contenteditable="true"] {
  border: 2px dashed #d03535;
  padding: 5px;
}
[contenteditable="true"]:focus,
[contenteditable="true"]:active {
  outline: none;
}
.modal {
  top: -10%;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #a8adb4;
}
::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #fff;
}
