@import url("./fonts.css");
@import url("./icons.css");

@import url("./fonts.css");
@import url("./icons.css");

.flipper, .f, .b, #g {width:100%;height:100%;}

/* font-face */
@font-face{font-family: "GeneralFoundicons";font-weight:normal;font-style:normal;
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.eot");
	src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.eot?#iefix") format("embedded-opentype"),
	     url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.woff") format("woff"),
	     url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.ttf") format("truetype"),
	     url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/60583/general_foundicons.svg#GeneralFoundicons") format("svg");
}
a{text-decoration:none;color:#fff;display:block;font:bold 18px/75px 'Open Sans';text-transform:uppercase;text-align:center;padding:0;margin:0 1px;}
a:hover{color:#fff;background:rgba(255, 255, 255, .1)}

/* FRONT SCREEN */
.logo2{width: 100%;height: 450px;}
.logo2 .card{width:50%;height:50%;cursor:default;position:relative;margin:0px;}
.logo2 .card.left.active{z-index:2}
.logo2 .card.left.active + .card{opacity:0}
.logo2 .card.left.active .b{margin-left:-100%}
.logo2 .f{font:normal 130px/225px 'Open Sans';text-align:center;text-transform:uppercase;}
.logo2 .c2{transform:scale(-1, 1);-webkit-transform:scale(-1, 1);-moz-transform:scale(-1, 1);-ms-transform:scale(-1, 1)}

.logo2 .contentbox{width:200%;font:normal 12px/16px 'Open Sans';text-align:left}
.logo2 .contentbox.levels{width:100%}
.logo2 .contentbox .padded{padding:0 15px;color:#fff;}
.logo2 .contentbox h2{font-size:24px;padding:0;margin:28px 0;text-transform:uppercase}
.logo2 .contentbox p{line-height:14px;margin:14px 0}

#stats h2 i{margin-right:10px;vertical-align:top;font:italic normal 9px/8px 'Open Sans';color:rgba(255,255,255, .4)}
#stats ul{width:50%;display:inline-block;margin:0;padding:0;list-style-type:none;vertical-align:top;line-height:22px}
#stats li{display:block;margin:0;padding:0;}
#stats li b{display:inline-block;font-size:12px;width:95px}
#stats a {position:absolute;bottom:0;width:100%;margin-left:-15px;}

.logo2 .info{font-size:11px;line-height:16px;text-align:center;color: rgba(255,255,255, .3);padding:0 25px;}

/*GAME SCREEN*/
#g{margin-top:4px}
#g .timer{width:0%;height:5px;position:absolute;top:25px;background:#C0392B;z-index:1}
@-webkit-keyframes timer {100% { width:100%; }}
@-moz-keyframes timer {100% { width:100%; }}
@-o-keyframes timer {100% { width:100%; }}
@keyframes timer {100% { width:100%; }}
.pause{position:absolute;width:100%;height:100%;left:0;top:0;z-index:100;background:rgba(51, 51, 51, 0.78)}
.pause::before{content:'PAUSED';width:100%;position:absolute;margin-top:-100px;top:50%;background:#C0392B;color:#fff;font:bold 80px/200px 'Open Sans';
display:block;text-align:center;}
/* card styles */
#g .found{display:inline-block}
.card{display:inline-block;-webkit-perspective:1000;-moz-perspective:1000;}
.card:not(.active):hover{opacity:.8}
.card .b::before{content:attr(data-f);display:block;font:normal 100px/100px "GeneralFoundicons";
position:absolute;top:50%;margin-top:-50px;width:100%;text-align:center}

/* flip cards */
.flipper {position:relative;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}
.f, .b {position:absolute;top:0;left:0;box-shadow:inset 0 0 0 1px #333;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden}
.f {background:#16A085;z-index:1}
.b {background:#C0392B;opacity:0}
.card.active .b{z-index:2;opacity:1}

/*Grouped for easy prefixing*/
.card, .flipper, .logo2 .b{transition:400ms;-ms-transition:400ms;-webkit-transition:400ms;-moz-transition:400ms;-o-transition:400ms}
.card.active .flipper, .b {transform:rotateY(180deg);-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-o-transform:rotateY(180deg)}
.logo2 .f, .card .b::before, .pause::before{-webkit-text-stroke: 1px #fff} /*webkit only*/

#g.hard .card {
	width: 65px !important;
    height: 50px !important;
}
#g.hard .card .b:before{
	font-size: 30px;
}
#g.medium .card {
	width: 90px !important;
    height: 60px !important;
}
#g.medium .card .b:before{
	font-size: 40px;
}
#g.casual .card {
	width: 150px !important;
    height: 80px !important;
}
#g.casual .card .b:before{
	font-size: 50px;
}

#g.medium .found {
	width: 90px !important;
	height: 60px !important;
	margin: 10px;
}
#g.hard .found {
	width: 65px !important;
	height: 50px !important;
	margin: 10px;
}
#g.casual .found {
	width: 150px !important;
	height: 80px !important;
	margin: 10px;
}
/*Responsive Stuff*/

@media all and (max-width: 640px) and (min-width: 0px){
	a{line-height:50px;font-size:13px}
	.logo2{width:300px;height:300px;margin:-150px 0 0 -150px}
	.logo2 .f{font:normal 80px/150px 'Open Sans'}
	.logo2 .contentbox h2{font-size:16px;margin:24px 0;}
	.logo2 .instructions h2{display:none}
	.logo2 .instructions.contentbox p:nth-child(3){display:none}
	#stats li b{width:auto}
}

.form-checkcell {
  float: left;
  position: relative;
  padding: 5px 0 20px 0;
}
.form-checkcell__label {
  vertical-align: top;
  color: #6d747e;
  font-size: 1.4rem;
  float: left;
  width: 100%;
  font-weight: normal;
}
.form-checkcell__check:not(:checked),
.form-checkcell__check:checked,
.form-checkcell__radio:not(:checked),
.form-checkcell__radio:checked {
  position: absolute;
  z-index: 999999;
  opacity: 0;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
}
.form-checkcell__check:not(:checked),
.form-checkcell__check:checked {
  width: 0;
  height: 0;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label,
.form-checkcell__check:checked + .form-checkcell__label,
.form-checkcell__radio:not(:checked) + .form-checkcell__label,
.form-checkcell__radio:checked + .form-checkcell__label {
  position: relative;
  padding: 1px 20px 0 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label,
.form-checkcell__check:checked + .form-checkcell__label {
  padding: 8px 40px 0 25px;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label.otherExperienceLabel,
.form-checkcell__check:checked + .form-checkcell__label.otherExperienceLabel {
  padding: 7px 40px 0 35px;
}
.form-checkcell__check:not(:checked) + .form-checkcell__label:before,
.form-checkcell__check:checked + .form-checkcell__label:before {
  font-family: 'icons';
  content: '\f129';
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  color: #87c530;
}
.form-checkcell__check:checked + .form-checkcell__label:before {
  content: '\f128';
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:before,
.form-checkcell__radio:checked + .form-checkcell__label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background: transparent;
  border: 1px solid #d3d3d3;
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:before,
.form-checkcell__radio:checked + .form-checkcell__label:before {
  border-radius: 50%;
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:after {
  opacity: 0;
  transform: scale(0);
}
.form-checkcell__radio:checked + .form-checkcell__label:after {
  opacity: 1;
  transform: scale(1);
}
.form-checkcell__radio:disabled:not(:checked) + .form-checkcell__label:before,
.form-checkcell__radio:disabled:checked + .form-checkcell__label:before {
  box-shadow: none;
  border-color: #d3d3d3;
  border-width: 2px solid;
  background-color: #ddd;
}
.form-checkcell__radio:disabled:checked + .form-checkcell__label:after {
  color: #999;
}
.form-checkcell__radio:disabled + .form-checkcell__label {
  color: #aaa;
}
.form-checkcell__radio:not(:checked) + .form-checkcell__label:after,
.form-checkcell__radio:checked + .form-checkcell__label:after {
  font-family: "icons";
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  font-size: 3rem;
  background-color: #f33b70;
  border-radius: 50%;
  transform-origin: center;
  transition: all 0.2s;
}
.form-textarea textarea {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  min-width: 250px;
  resize: none;
  border-radius: 5px;
}
.form-textarea textarea:focus {
  outline: none;
}
.form-input input[type="text"],
.form-input input[type="password"] {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  min-width: 200px;
  border-radius: 5px;
}
.form-input input[type="text"]::-webkit-input-placeholder,
.form-input input[type="password"]::-webkit-input-placeholder,
.form-input input[type="text"]::-moz-placeholder,
.form-input input[type="password"]::-moz-placeholder,
.form-input input[type="text"]::-ms-input-placeholder,
.form-input input[type="password"]::-ms-input-placeholder {
  color: #d3d3d3;
  font-weight: 400;
}
.form-input input[type="text"]:focus,
.form-input input[type="password"]:focus {
  outline: none;
}
.modal.show {
  display: flex !important;
  transition: 0.5s ease;
}
.modal-header {
  padding: 8px;
}
.modal-body {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.modal-footer {
  background-color: #f2f2f2;
  padding: 5px 15px;
  border-top: none;
}
.modal-xl-center {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.no-padding {
  padding: 0;
}
.no-left-padding {
  padding-left: 0;
}
.no-right-padding {
  padding-right: 0;
}
.no-top-padding {
  padding-top: 0;
}
.no-bottom-padding {
  padding-bottom: 0;
}
.no-margin {
  margin: 0;
}

body {
	background-image: url("../images/Bg_image.svg");
	background-repeat: no-repeat;
    background-size: 100%;
}

.about {
	display: flex;
	align-content: space-around;
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}

.about p, .about a {
	color: white;
	font-family: cursive;
}

.about img {
	width: 60px;
}

.about-body {
	width: 100%;
	max-width: 440px;
}

.social {
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin: 20px 20px 40px;
	width: 100%;
}

.coffee {
	float: left;
}

.add {
	text-align: center;
	font-size: 12px;
	border: 2px solid white;
	border-radius: 45%;
	position: fixed;
	left: 15px;
	bottom: 15px;
	width: 140px;
	padding: 10px;
}

.add p {
	font-style: normal;
}

.app-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	position: relative;
}

h1, h2, h3, h4 {
	margin: 10px;
	font-weight: 400;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	color: white;
	height: 100vh;
}

memory-board {
	flex: 1;
	align-items: center;
	display: flex;
	justify-content: center;
	overflow: auto;
	height: 75vh;
}

.memory-board__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.memory-board__cont {
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 0;
    border: 1px solid #E4EBF8;
    background: #fff;
    padding: 45px 58px 60px;
    width: 800px !important;
    box-shadow: 0px 0px 12px 5px rgba(234, 239, 249, 0.75);
    -webkit-transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    border-radius: 25px;
}

.board {
	z-index: 104;
	flex: 1;
	display: flex;
	align-content: center;
	flex-flow: row wrap;
	width: 100%;
	max-height: calc(100% - 150px);
	padding: 0 70px;
}

.card {
	width: 70px;
	height: 100px;
	margin: 10px;
	cursor: pointer;
	position: relative;
}

.card .front, .card .back {
	background-color: #FCFBE5;
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	font-size: 3em;
	box-shadow: 0 0 5px #38393b;
	backface-visibility: hidden;
	z-index: 2;
	transition: all .35s linear;
}

.card .front:hover, .card .back:hover {
	box-shadow: 0 0 15px #fff2ba;
}

.front {
	color: #FCFBE5;
	transform: perspective(600px) rotateY(0deg);
	position: relative;
}

.front-inner {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg, #ce0996 0%, rgba(206, 9, 150, 0) 70%), linear-gradient(135deg, #e74804 10%, rgba(231, 72, 4, 0) 80%), linear-gradient(225deg, #e6af0a 10%, rgba(230, 175, 10, 0) 80%), linear-gradient(315deg, #27fe01 100%, rgba(39, 254, 1, 0) 70%);
}

.back {
	color: #9C1C11;
	transform: perspective(600px) rotateY(-180deg);
}

.flipped .front {
	transform: rotateY(-180deg);
}

.flipped .back {
	transform: rotateY(0deg);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
}

button {
	color: #38393B;
	background-color: #FCFBE5;
	transition: all 100ms linear !important;
}

header {
	text-align: center;
	color: white;
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: flex-start;
    display: flex !important;
    height: 80px;
}

header .header-home {
	width: 100px;
    height: 100%;
}

header .header-home i {
	position: relative;
    top: 17px;
    cursor: pointer;
}

header .header-home i:before {
	font-size: 2.5rem;
}

header, .state {
	box-shadow: 0 0 10px #f33b70;
	z-index: 1000;
}

.header-home__cont {
	display: flex;
    justify-content: center;
    width: 100%;
    left: 190px;
    position: relative;
}

logo, .logo {
	width: 100%;
}

.logo {
	margin-top: 40px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo-cards {
	position: relative;
}

.logo-cards .card {
	display: inline-block;
}

.logo .left {
	transform: rotate(5deg);
	margin-left: -40px;
}

.logo .right {
	transform: rotate(-20deg);
}

.logo-title h1 {
	font-size: 4em;
	color: white;
}

.menu {
	display: flex;
	justify-content: space-around;
}

.menu.about {
	position: relative;
	right: -100px;
}

.menu-item {
	width: 100px;
	position: relative;
}

.menu button {
	color: #603309;
	z-index: 106;
	position: absolute;
	outline: 0;
	cursor: pointer;
	top: 100%;
	height: 50px;
	width: 100%;
	border-radius: 0 0 100px 100px;
	font-size: 15px;
	transition: all .1s ease-in;
	border: none;
	box-shadow: 0 5px 50px #fff2ba;
}

.menu button:active {
	top: -10px;
	box-shadow: 0 0 10px #fff2ba;
}

result {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 105;
}

.result {
	text-align: center;
	border: 2px solid white;
	background-color: white;
	max-width: 480px;
	max-height: 360px;
	width: 80%;
	border-radius: 10px;
	margin: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	position: relative;
	padding: 5px;
}

.result-bg {
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	top: 5px;
	background-color: #96BBBB;
	background: url("../images/result.png") repeat;
}

.result-overlay {
	flex: 1;
	z-index: 5;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.result-img {
	position: relative;
	background: url("../images/wood.png") repeat;
	flex: 1;
	width: 100%;
	box-shadow: inset 0 0 10px #38393b;
}

.result-img img {
	position: absolute;
	max-height: 100%;
	margin: auto;
	right: 0;
	left: 0;
}

.result-number {
	color: #FE424D;
}

.result button {
	border: none;
	outline: 0;
	border-radius: 35px;
	width: 190px;
	height: 50px;
	color: 2px solid #38393b;
	font-size: 1em;
	padding: 10px;
	transition: all .1s linear;
	cursor: pointer;
	box-shadow: 0 0 10px #38393b;
}

.result button:active {
	transform: scale(0.95);
	box-shadow: 0 0 5px #38393b;
}

.share-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 1011;
}

.sb-buttons {
	flex-direction: column;
	z-index: 1011;
}

.sb-buttons button {
	z-index: 1004;
	background-color: #FCFBE5 !important;
	color: #603309 !important;
	border-radius: 0 100px 100px 0 !important;
	width: auto !important;
	margin: 5px 0 !important;
	box-shadow: 1px 0 10px #603309;
}

.sb-buttons button:hover {
	color: #603309 !important;
}

.sb-buttons button:active {
	box-shadow: 5px 0 30px #fff2ba;
	margin-left: -10px !important;
}

.sb-buttons .sb-button {
	flex-direction: row !important;
	align-items: flex-start !important;
}

.sb-buttons .sb-button-count {
	margin-left: 15px;
}

.sb-buttons .sb-button-count:before {
	position: absolute;
	left: -10px !important;
	top: 50% !important;
	margin-top: -4px !important;
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 5px solid #e03237 !important;
	border-left: 5px solid transparent !important;
	border-bottom: 5px solid transparent !important;
}

.state {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: space-around;
	align-items: flex-end;
	display: flex;
}

.state-item {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.state-item h3 {
	color: #6d747e;
}

.counter {
	color: #FE424D;
	background-color: #ffced0;
	position: absolute;
	bottom: 100%;
	height: 35px;
	width: 70px;
	font-size: 20px;
	border-radius: 70px 70px 0 0;
	box-shadow: 0 -5px 40px #FE424D;
	z-index: -1;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ssi-timer app-timer .timer {
	top: 0;
    margin: 30px auto 0 auto;
    max-width: 75.5rem;
}

.ssi-timer app-timer .timer span {
	font-size: 30px;
}

.home-timer app-timer .timer {
	top: 0;
    margin: 30px auto 0 auto;
	z-index: 104;
    flex: 1;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
	max-width: 515px;
	justify-content: center;
}

.home-timer app-timer .timer span {
	font-size: 30px;
}

.dropdown-toggle {
	width: 100%;
}

.dropdown-menu {
	width: 100%;
	max-height: 200px;
    overflow-y: auto;
}

.dropdown-menu a {
	font: bold 15px 'Open Sans';
    font-weight: 500;
    text-transform: none;
    padding: 5px 20px;
}

.dropdown-item {
	color: #888;
}

.dropdown-toggle {
	color: #888;
}

:host >>> .chart-elem.solidgauge .highcharts-minor-grid-line,
:host >>> .chart-elem.solidgauge .highcharts-grid-line {
  stroke: transparent;
}

.highcharts-grid {
	display: none;
}

.highcharts-plot-band, .highcharts-pane {
	fill-opacity: 1;
}

.highcharts-axis-labels {
	display: none;
}

.highcharts-axis-title {
	font-size: 16px;
	font-weight: 600;
	color: #333 !important;
    fill: #333 !important;
}

.btn.btn-secondary.dropdown-toggle {
	color: #888;
}

